@import url("https://cloud.typography.com/7117996/6580792/css/fonts.css ");
/* -------------------------------------------------------------------------
 Style Guide Boilerplate Bootstrap Edition v2.0.1
 Repo: https://github.com/kemie/Style-Guide-Boilerplate-Bootstrap-Edition
 Author: Brett Jankord (modified by Kemie Guaida)
 License: MIT
 Layout
---------------------------------------------------------------------------- */

body {
  margin: 0;
  padding-top: 50px;
  font-family: "Gotham A, Gotham B", sans-serif;
}

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  overflow: hidden;
  padding: 16px 24px;
  /* For older browsers */
  padding: 1rem 1.5rem;
}
.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */
/* Headings
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2,
.sg-h3 {
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
}
.sg-h1 {
  font-weight: bold;
  padding-bottom: .2em;
  margin-top: 1em;
  margin-bottom: 1.25em;
  border-bottom-width: 3px;
}
.sg-h2 {
  margin-bottom: .5em;
  padding-bottom: .5em;
  text-transform: capitalize;
  margin-top: 1.5em;
  border-bottom-width: 2px;
}
.sg-h3 {
  padding-bottom: .25em;
  border-color: #eee;
}
.sg-about {
  margin-top: 2em;
}
.row > .page-header {
  padding-top: 2em;
}
/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none!important;
}
.sg-btn--top {
  float: right;
}
ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  max-height: 500px;
}
.dropdown-header {
  text-transform: uppercase;
}
.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 5px;
  top: 14px;
}
.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: .8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}
.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99;
}
/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both;
}
.sg-btn--source,
.sg-btn--select {
  display: none;
}
/* Show specific buttons if JS enabled */
.js .sg-btn--source,
.js .sg-btn--select {
  display: block;
}
/* Hide specific buttons conditionally */
.operamini .sg-btn--source,
.legacy .sg-btn--source {
  display: none;
}
/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  /* For older browsers */
  margin-bottom: 3rem;
  overflow: hidden;
}
.sg-anchor {
  display: block;
  padding-top: 1em;
}
/* Colors
---------------------------------------------------------------------------- */
.sg-color {
}
.sg-lg {
  height: 200px;
  color: #FFF !important;
  font-weight: bold;
}
.sg-color-swatch {
  display: block;
  height: 100%;
  width: 100%;
}
.sg-color-swatch span {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  bottom: 5px;
  color: #fff;
  font-size: .8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 88px;
}
.sg-lg .sg-color-swatch span {
  width: 100%;
}
.sg-color-swatch:hover span {
  opacity: 1;
}
/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.usanaBlue {
  background: #067ebd;
}
.usanaBlueDark {
  background: #045d8c;
}
.usanaBlueLight {
  background: #089fee;
}
.usanaSilverBlue {
  background: #92acbe;
}
.usanaSilverBlueLight {
  background: #b2c4d1;
}
.usanaSilverBlueDark {
  background: #7294ab;
}
.usanaRed {
  background: #e84327;
}
.usanaRedDark {
  background: #c72f15;
}
.usanaRedLight {
  background: #ed6b55;
}
.usanaOrange {
  background: #f8b037;
}
.usanaOrangeDark {
  background: #f7a61e;
}
.usanaOrangeLight {
  background: #fac368;
}
.usanaGreen {
  background: #43ac6a;
}
.usanaGreenDark {
  background: #3c9a5f;
}
.usanaGreenLight {
  background: #61c185;
}
.usanaPurple {
  background: #b11180;
}
.usanaPurpleDark {
  background: #8c0d65;
}
.usanaPurpleLight {
  background: #e015a2;
}

.sg-brand-primary {
  background: #067EBD;
}
.sg-gray-lighter{
  background: #dddddd;
}
.sg-gray-light{
  background: #808080;
}
.sg-gray{
  background: #555555;
}
.sg-gray-dark{
  background: #333333;
}
.sg-gray-darker{
  background: #222222;
}
.sg-brand-success{
  background: #469408;
}
.sg-brand-info{
  background: #029acf;
}
.sg-brand-warning{
  background: #9b479f;
}
.sg-brand-danger{
  background: #d9831f;
}
/* Fonts
---------------------------------------------------------------------------- */
.weight300 {
	font-weight: 300;
}
.weight400 {
	font-weight: 400;
}
.weight700 {
	font-weight: 700;
}
.weight900 {
	font-weight: 900;
}
.sg-font {
  font-size: 1.8em;
  padding: 0 0 .2em 0;
  font-family: "Gotham A", "Gotham B";
}
.sg-font-primary {
  font-family: "Gotham A", "Gotham B";
}
.sg-font-international {
	font-family: 'Noto Sans', sans-serif;
}
/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  padding: .5em 0;
}
.show-grid div {
  background-color: #dddddd;
  border: 1px solid #808080;
  padding: 0.5em;
}
/* Markup
---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both;
}
.sg-source {
  position: relative;
}
.sg-source pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}
.sg-source pre code {
  background: transparent;
}
.js .sg-source {
  max-height: 0;
  overflow: hidden;
}
.js .sg-source.is-active,
.operamini .sg-source,
.legacy .sg-source {
  max-height: 2400px;
}
/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {
  color: #ffffff;
}
/* plain text */
@media screen {
  .str,
  .string {
    color: #E6DB74;
  }
  /* string content */
  .kwd,
  .keyword {
    color: #66D9EF;
  }
  /* a keyword */
  .com,
  .comment {
    color: #75715E;
  }
  /* a comment */
  .typ {
    color: #A6E22E;
  }
  /* a type name */
  .lit,
  .number {
    color: #AE81FF;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  .tag {
    color: #F92672;
  }
  /* a markup tag name */
  .atn {
    color: #A6E22E;
  }
  /* a markup attribute name */
  .atv {
    color: #E6DB74;
  }
  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  .fun {
    color: #FF0000;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0;
}
ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}
/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}
/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}
/* End IE 6 Fixes */
