.usanaBlue {
  background: #067ebd;
}
.usanaBlueDark {
  background: #045d8c;
}
.usanaBlueLight {
  background: #089fee;
}
.usanaGrayLightest {
  background: #fff;
}
.usanaGrayLighter {
  background: #b3b3b3;
}
.usanaGrayLight {
  background: #8c8c8c;
}
.usanaGray {
  background: #666;
}
.usanaGrayDark {
  background: #404040;
}
.usanaGrayDarker {
  background: #333;
}
.usanaSilverBlue {
  background: #92acbe;
}
.usanaSilverBlueLight {
  background: #b2c4d1;
}
.usanaSilverBlueDark {
  background: #7294ab;
}
.usanaRed {
  background: #e84327;
}
.usanaRedDark {
  background: #c72f15;
}
.usanaRedLight {
  background: #ed6b55;
}
.usanaOrange {
  background: #f8b037;
}
.usanaOrangeDark {
  background: #f7a61e;
}
.usanaOrangeLight {
  background: #fac368;
}
.usanaGreen {
  background: #43ac6a;
}
.usanaGreenDark {
  background: #3c9a5f;
}
.usanaGreenLight {
  background: #61c185;
}
.usanaPurple {
  background: #b11180;
}
.usanaPurpleDark {
  background: #8c0d65;
}
.usanaPurpleLight {
  background: #e015a2;
}
.sectionLanding,
.section-catalog,
.section-product,
.section-login {
  padding-top: 20px;
  padding-bottom: 20px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  background-color: #f7f7f7;
}
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.btn {
  -webkit-transition: color 200ms, background-color 300ms;
}
.btn-warning {
  background-color: #f8b037;
  border-color: #f39c09;
}
.btn-warning:hover {
  background-color: #f39c09;
  border-color: #f8b037;
}
.btn-primary {
  background-color: #067ebd;
  border-color: #045d8c;
}
.btn-primary:hover {
  background-color: #089fee;
  border-color: #067ebd;
}
.btn-info {
  background-color: #b11180;
  border-color: #8c0d65;
}
.btn-info:hover {
  background-color: #e015a2;
  border-color: #b11180;
}
.btn-danger {
  background-color: #e84327;
  border-color: #c72f15;
}
.btn-danger:hover {
  background-color: #ed6b55;
  border-color: #e84327;
}
.btn-default {
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.btn-default:hover {
  background-color: #d9d9d9;
  border-color: #b3b3b3;
}
input {
  border: 1px solid;
}
input,
select {
  font-weight: 400;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
}
.thumbnail img.pull-right {
  width: 50px;
}
html,
body {
  font-size: 16px;
}
body {
  font-family: "Gotham A", "Gotham B";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  margin: 0 auto;
}
h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #045d8c;
}
.img-responsive.img-circle {
  margin: 0 auto 20px auto;
  box-shadow: 1px 10px 10px #666;
}
label span.help-block {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #f00;
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.tempLanguage .form-group {
  height: 50px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.1;
}
.modal-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}
.modal-footer.single-btn-footer {
  padding: 0;
}
.modal-footer.single-btn-footer .btn {
  border-radius: 0;
  width: 10rem;
  padding: 1rem;
  font-weight: bold;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
.address-heading {
  font-weight: bold;
}
.address-list-body {
  font-size: 12px;
}
.address-list {
  float: left;
  clear: none;
  font-size: 12px;
  font-weight: bold;
}
.address-selected {
  float: left;
  color: #fff;
  background-color: #0073ab;
  padding: 2px;
}
.address-unselected {
  float: left;
  color: #000;
}
input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 5px;
  width: 20px;
}
.address-will-call {
  font-weight: bold;
  margin: 10px;
  font-size: 14px;
}
.round-box {
  margin: auto;
  width: 60%;
  border-radius: 0.2em;
  border: 1px solid #456790;
  padding: 2em;
  font-size: 1.2em;
}
.tab-content {
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 20px;
  box-shadow: 1px 1px 2px #d9d9d9;
}
.addressModalVerify td:first-child {
  text-align: right;
}
.addressModalVerify td:last-child {
  min-width: 200px;
}
.panel-modal {
  margin-bottom: 0;
}
.modal-list-even {
  background-color: #fff;
}
.modal-list-odd {
  background-color: #ccc;
}
.modal-original-address {
  color: #f00;
}
.modal-preferred-address {
  color: #008000;
}
.phx-alerts {
  position: fixed;
  right: -10px;
  top: 40px;
  z-index: 999999;
}
.phx-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.phx-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.phx-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.phx-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.phx-alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.phx-alert-glyphicon {
  font-size: 15px;
  margin-right: 5px;
}
.phx-alert-close {
  margin-left: 10px;
}
.section-login .jumbotron {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #d9d9d9;
}
section.section-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-container {
  height: 3rem;
}
.breadcrumb-item {
  padding: 3px;
  margin-bottom: 10px;
  display: inline-block;
}
.breadcrumb-item .last-item {
  color: #d9d9d9;
}
.breadcrumb-item + .breadcrumb-item:before {
  padding: 0 6px;
  color: #ccc;
  content: "/\00a0";
}
.section-footer {
  display: block;
  margin-top: 50px;
}
.wrapper {
  background: #ececec;
  color: #555;
  cursor: help;
  font-size: 16px;
  margin: 100px 75px 10px 75px;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}
.wrapper .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 200px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -ms-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
  -o-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
  box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
}
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.lte8 .wrapper .tooltip {
  display: none;
}
.lte8 .wrapper:hover .tooltip {
  display: block;
}
.barHeader {
  background: #ececec;
  margin-left: solid transparent 25px;
  height: 40px;
  vertical-align: middle;
  font-size: 20px;
}
.topNav {
  background: #fff;
  padding: 1em;
}
a.navbar-brand {
  width: 74px;
  display: inline-block;
  margin-top: -11px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f00;
  font-family: "Gotham A", "Gotham B";
  font-size: 10px;
}
.topCart.btn .badge {
  width: 1.5rem;
  top: -1rem;
  left: -1.3rem;
  background: #e84327;
  padding: 3px 5px;
}
.topCart .topCartIcon {
  font-size: 1.3rem;
}
.usanaSearch {
  margin-top: 10px;
}
.largeDropdown {
  min-width: 600px;
}
.navbar {
  margin-bottom: 0 !important;
}
.paymentButton,
.paymentEdit,
.paymentDelete,
.paymentDisable,
.doneButton,
.disabledButton {
  text-align: center;
  cursor: pointer;
  padding: 0.2em;
  border: 1px solid #000;
  margin: 2px 0;
}
.paymentDescription {
  background-color: #f08080;
  text-align: left;
  color: #fff;
  font-size: 1em;
}
.priority {
  background-color: #f08080;
  text-align: left;
  color: #fff;
  font-size: 1em;
  width: 100px;
}
.paymentEdit {
  color: #fff;
  background-color: #808080;
  width: 100px;
}
.paymentDelete {
  color: #fff;
  background-color: #808080;
  width: 100px;
}
.paymentDisable {
  color: #fff;
  background-color: #808080;
  width: 100px;
}
.managePaymentsTitle {
  background-color: #add8e6;
  text-align: center;
  color: #fff;
  font-size: 2em;
  width: 275px;
}
.doneButton {
  color: #fff;
  background-color: #5789cb;
  height: 30px;
  text-align: center;
  width: 200px;
  font-size: 1.1em;
  cursor: pointer;
}
.disabledButton {
  color: #a9a9a9;
  background-color: #d3d3d3;
  width: 100px;
  border: 1px solid #a9a9a9;
}
.col-cc {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 15px;
  width: 71px;
  float: left;
}
.payment-credit-card {
  display: block;
  margin: 5px auto !important;
  float: none !important;
}
.odd {
  background-color: #eee;
}
.quick-search-bar {
  position: relative;
}
.quick-search-bar input {
  padding-right: 30px;
}
.quick-search-bar .quick-search-icon {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
.quick-search-bar .quick-search-results {
  border-bottom: 1px solid #f7f7f7;
  padding: 10px !important;
  display: block !important;
}
.quick-search-bar .dropdown-menu {
  min-width: 350px;
  overflow: hidden;
}
.quick-search-refresh {
  position: absolute;
  right: 13px;
  top: 10px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.quick-search-price {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0px;
      -ms-flex: 2 0px;
          flex: 2 0px;
}
.quick-search-productid {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
}
.quick-search-image {
  width: 40px;
  float: left;
  margin-right: 10px;
  padding: 4px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.quick-search-text {
  font-size: 14px;
}
.quick-search-product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes searchFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes searchFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.translate-placeholder {
  color: #999;
}
.auto-order-title {
  font-size: 2em;
}
.tinyText {
  font-size: 0.5em;
}
.smallText {
  font-size: 0.8em;
}
.spacer {
  padding: 1em;
}
.product-table {
  border-collapse: collapse;
  border: 1px solid #d3d3d3;
}
.product-table thead th {
  background: #d3d3d3;
  text-align: center;
}
.auto-order-btns {
  align: right;
}
.auto-order-footer {
  padding-right: 20px;
  padding-left: 20px;
}
.auto-order-totals {
  border: solid 1px #000;
}
.hide-date-button {
  background: #add8e6;
  border: solid 1px #00008b;
}
.product-remove {
  color: #f00;
}
.product-quantity {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 0;
  text-align: center;
}
.product-totals {
  font-weight: bold;
}
.btn-product-plus-minus {
  margin: -5px;
}
.product-quantity-input {
  text-align: center;
  height: 1.8em;
}
.auto-order-select select {
  width: auto;
}
.shipping-address {
  font-weight: bold;
}
.address-edit {
  margin: 20px 0 0 0;
}
.shipping-method {
  font-weight: bold;
  margin: 10px 0 0 0;
}
.auto-order-validation {
  color: #f00;
}
.auto-order-modal-btn {
  margin: 0 auto;
  display: table;
  padding: 5px 0;
}
.auto-order-cant-edit {
  color: #f00;
}
.popover {
  left: auto !important;
  right: 0;
  max-width: 1000px;
  border: 1px solid #d3d3d3;
}
.popover.bottom > .arrow {
  right: 20px !important;
}
#usanaShopHeader .popover.bottom > .arrow {
  display: none;
}
.popover-title {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
}
.popover-content {
  background-color: #fff;
  color: #000;
  padding: 2px;
  right: 50px;
}
.cartBlock:not(:last-child) {
  border-bottom: 2px solid #ddd;
}
.cart-line-item {
  padding: 1.3rem 0.5rem;
  margin-left: 0;
  margin-right: 0;
}
.cart-line-item [class^="col-"]:not(.no-padding) {
  padding: 0 5px;
}
.cart {
  width: 500px;
}
.cart-header {
  font-size: 1.3em;
  font-weight: 700;
  text-align: left;
  padding: 10px;
}
.cart-image {
  height: 40px;
  width: 40px;
}
.cart-quantity div {
  padding: 0;
  text-align: center;
  margin: 0;
}
.btn.cart-minus-plus {
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  background-color: #e4e4e4;
  padding: 2px 0.5rem;
}
.cart-quantity-input {
  text-align: center;
  font-size: 1.3em;
  height: 1.8em;
}
.cart-remove {
  color: #e84327;
  cursor: pointer;
  font-size: 1.1rem;
}
.cart-remove i {
  vertical-align: middle;
}
.cart-remove.disabled {
  color: #eee;
  cursor: default !important;
}
.cart-total {
  font-size: 1.5em;
}
.cart-empty {
  text-align: center;
}
.cart-not-active-icon {
  font-size: 1.5em;
  color: #456790;
  margin-top: -50px;
}
.cart-not-active {
  cursor: pointer;
}
.listView {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #d9d9d9;
  margin-top: 20px;
}
.listView .row {
  margin: 0;
}
.catalogBtnWithMargin {
  margin: 3px 0;
}
.catalogElement {
  padding: 10px;
}
.catalogElement .catalogElementInnerContainer {
  border: none;
  background-color: #fff;
  padding: 20px; /* Safari/Chrome, other WebKit */ /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border: 15px dashed #000;
  -o-border-image: url("http://imgur.com/7940USP.png") 40% repeat;
     border-image: url("http://imgur.com/7940USP.png") 40% repeat;
}
.express div {
  padding: 10px 5px;
}
.expressItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.expressItems .catalogImageDiv {
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
}
.expressItems .catalogProductName {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
}
.expressItems .catalogProductVolume,
.expressItems .catalogProductPrice {
  -webkit-flex-basis: 80px;
      -ms-flex-preferred-size: 80px;
          flex-basis: 80px;
}
.expressItems:nth-child(even) {
  background-color: #e6e6e6;
}
.catalogHeader {
  padding: 10px;
  background: #f2f2f2;
}
.sortSelect {
  height: 33px;
  margin: 0 10px;
}
.catalogViewContainer {
  text-align: right;
  padding-top: 5px;
}
.catalogViewContainer .btnViewSwitcher {
  font-size: 1.38rem;
  cursor: pointer;
  color: #808080;
  margin-left: 8px;
  vertical-align: middle;
}
.catalogViewContainer .viewSelected {
  color: #089fee;
}
.catalogViewContainer .viewNotSelected {
  color: #000;
}
.catalogViewContainer .viewNotSelected:hover {
  color: #089fee;
}
.gridView {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.viewsContainer {
  position: relative;
}
.gridView .catalogImageDiv {
  height: 100%;
  min-height: 160px;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}
.listView .catalogImageDiv {
  width: 100%;
  max-width: 50px;
  overflow: hidden;
}
.catalogProductName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.gridView .catalogProductName {
  font-size: 18px;
  width: 280px;
}
.sidebar {
  background: rgba(0,0,0,0.1);
  height: 600px;
}
.catalogElement.ng-enter {
  -webkit-transition: 1s linear all;
          transition: 1s linear all;
  opacity: 0;
  margin-top: 20px;
}
.catalogElement.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.catalogElement.ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0;
}
.animatedElement.ng-move,
.animatedElement.ng-enter,
.animatedElement.ng-leave {
  -webkit-transition: all ease-out 0.5s;
          transition: all ease-out 0.5s;
}
.animatedElement.ng-leave.ng-leave-active,
.animatedElement.ng-move,
.animatedElement.ng-enter {
  opacity: 0;
  left: 0;
}
.animatedElement.ng-leave,
.animatedElement.ng-move.ng-move-active,
.animatedElement.ng-enter.ng-enter-active {
  opacity: 1;
  left: 2px;
}
.gridView .catalogImageDiv img {
  min-height: 150px;
  min-width: 150px;
  background: url("https://placehold.it/150x150") no-repeat center;
}
.listView .catalogImageDiv img {
  min-height: 50px;
  background: url("https://placehold.it/50x50") no-repeat center;
}
@media only screen and (min-width: 1921px) {
  .catalogAd1 {
    height: 500px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .catalogAd1 {
    height: 350px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .catalogAd1 {
    height: 300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .catalogAd1 {
    height: 250px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .catalogAd1 {
    height: 200px;
  }
}
@media only screen and (max-width: 480px) {
  .catalogAd1 {
    height: 200px;
  }
}
@media only screen and (min-width: 1921px) {
  .catalogAd2 {
    height: 500px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .catalogAd2 {
    height: 350px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .catalogAd2 {
    height: 300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .catalogAd2 {
    height: 250px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .catalogAd2 {
    height: 200px;
  }
}
@media only screen and (max-width: 480px) {
  .catalogAd2 {
    height: 200px;
  }
}
@media only screen and (min-width: 1921px) {
  .catalogAd3 {
    height: 800px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .catalogAd3 {
    height: 600px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .catalogAd3 {
    height: 500px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .catalogAd3 {
    height: 400px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .catalogAd3 {
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .catalogAd3 {
    height: 300px;
  }
}
.catalogAd1,
.catalogAd2,
.catalogAd3 {
  position: relative;
  background-size: cover;
}
.catalogAd1 span,
.catalogAd2 span,
.catalogAd3 span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0,0,0,0.2);
}
.catalogAd1 span h2,
.catalogAd2 span h2,
.catalogAd3 span h2 {
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width: 90%;
  text-align: center;
}
@media only screen and (min-width: 1921px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 40px;
    line-height: 1.2em;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 25px;
    line-height: 1.1em;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 20px;
    line-height: 1em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 16px;
    line-height: 0.8em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 20px;
    line-height: 0.7em;
  }
}
@media only screen and (max-width: 480px) {
  .catalogAd1 span h2,
  .catalogAd2 span h2,
  .catalogAd3 span h2 {
    font-size: 18px;
    line-height: 0.7em;
  }
}
.catalogAd1 span a.btn,
.catalogAd2 span a.btn,
.catalogAd3 span a.btn {
  font-size: 1.2em;
}
.quickView__ImageDiv {
  height: 150px;
  width: 150px;
  border: 0px solid #000;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.quickView__Image {
  display: inline-block;
  margin: 0 auto 20px auto;
}
.quickView__ProductName {
  font-size: 2em;
  color: #333;
}
.quickView__quantity {
  width: 40px;
  display: inline-block;
}
.quickView__meta {
  margin-left: 20px;
  margin-bottom: 20px;
}
.quickView__meta h4 {
  font-size: 1.1em;
}
.modal-header {
  margin-bottom: 30px;
}
.sectionLanding {
  padding: 30px 0;
  background-color: #f7f7f7;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1920' height='1080'><path d='M283 1197l-115 2 384 2z' fill='#7487a4' stroke='#7487a4' stroke-width='1.51'/><path d='M-140-125h116l660-3z' fill='#f0ebf5' stroke='#f0ebf5' stroke-width='1.51'/><path d='M342-104l133-6 161-18z' fill='#dedeed' stroke='#dedeed' stroke-width='1.51'/><path d='M138-109l204 5 294-24z' fill='#e5e2f0' stroke='#e5e2f0' stroke-width='1.51'/><path d='M-24-125l162 16 498-19z' fill='#ece7f2' stroke='#ece7f2' stroke-width='1.51'/><path d='M-140-125l776-3 319-2z' fill='#dfdfed' stroke='#dfdfed' stroke-width='1.51'/><path d='M1066 1193l-316 8 689-3z' fill='#336d95' stroke='#336d95' stroke-width='1.51'/><path d='M1364 1187l-205-4 280 15z' fill='#196490' stroke='#196490' stroke-width='1.51'/><path d='M1159 1183l-93 10 373 5z' fill='#226892' stroke='#226892' stroke-width='1.51'/><path d='M1280-111l95 3 180-22z' fill='#9db7d8' stroke='#9db7d8' stroke-width='1.51'/><path d='M955-130l325 19 275-19z' fill='#a3c0dc' stroke='#a3c0dc' stroke-width='1.51'/><path d='M1670 1186l-112 8 291-4z' fill='#045281' stroke='#045281' stroke-width='1.51'/><path d='M955-130h600l392-1z' fill='#9bb2d6' stroke='#9bb2d6' stroke-width='1.51'/><path d='M1764-123l99 3 84-11z' fill='#8fa1be' stroke='#8fa1be' stroke-width='1.51'/><path d='M1555-130l209 7 183-8z' fill='#93a6c6' stroke='#93a6c6' stroke-width='1.51'/><path d='M1849 1190l-291 4 418 3z' fill='#034e7b' stroke='#034e7b' stroke-width='1.51'/><path d='M1558 1194l-119 4 537-1z' fill='#035382' stroke='#035382' stroke-width='1.51'/><path d='M1958 1087l18 110h64z' fill='#03466e' stroke='#03466e' stroke-width='1.51'/><path d='M1969 496l13 95 64-110z' fill='#45769d' stroke='#45769d' stroke-width='1.51'/><path d='M1949 889l28 101 72-122z' fill='#04598b' stroke='#04598b' stroke-width='1.51'/><path d='M1954 185l96 21 4-101z' fill='#7587a6' stroke='#7587a6' stroke-width='1.51'/><path d='M1975 4l79 101 7-135z' fill='#7f8fa9' stroke='#7f8fa9' stroke-width='1.51'/><path d='M1938 372l108 109 18-108z' fill='#577b9f' stroke='#577b9f' stroke-width='1.51'/><path d='M2043 685l-98 86 124 21z' fill='#1b6591' stroke='#1b6591' stroke-width='1.51'/><path d='M2046 481l-64 110 88-12z' fill='#3f7298' stroke='#3f7298' stroke-width='1.51'/><path d='M1982 591l61 94 27-106z' fill='#346e96' stroke='#346e96' stroke-width='1.51'/><path d='M2064 373l-18 108 24 98z' fill='#4b7498' stroke='#4b7498' stroke-width='1.51'/><path d='M2043 685l26 107 1-213z' fill='#256790' stroke='#256790' stroke-width='1.51'/><path d='M2050 206l-107 67 128 31z' fill='#6a82a3' stroke='#6a82a3' stroke-width='1.51'/><path d='M1938 372l126 1 7-69z' fill='#5f7ea0' stroke='#5f7ea0' stroke-width='1.51'/><path d='M2054 105l-4 101 21 98z' fill='#6f83a1' stroke='#6f83a1' stroke-width='1.51'/><path d='M2061-30l-7 135 17 199z' fill='#7687a3' stroke='#7687a3' stroke-width='1.51'/><path d='M2064 373l6 206 1-275z' fill='#537799' stroke='#537799' stroke-width='1.51'/><path d='M2049 868l-72 122 97-18z' fill='#035585' stroke='#035585' stroke-width='1.51'/><path d='M2069 792l-20 76 25 104z' fill='#065787' stroke='#065787' stroke-width='1.51'/><path d='M2070 579l-1 213 5 180z' fill='#155f8b' stroke='#155f8b' stroke-width='1.51'/><path d='M1958 1087l82 110 36-101z' fill='#034870' stroke='#034870' stroke-width='1.51'/><path d='M2074 972l-97 18 99 106z' fill='#03507d' stroke='#03507d' stroke-width='1.51'/><path d='M1977 990l-19 97 118 9z' fill='#044f7c' stroke='#044f7c' stroke-width='1.51'/><path d='M2051-130l-104-1 114 101z' fill='#8694ae' stroke='#8694ae' stroke-width='1.51'/><path d='M1943 273l-5 99 133-68z' fill='#6482a5' stroke='#6482a5' stroke-width='1.51'/><path d='M1938 372l31 124 77-15z' fill='#527ba1' stroke='#527ba1' stroke-width='1.51'/><path d='M1947-131l28 135 86-34z' fill='#8594af' stroke='#8594af' stroke-width='1.51'/><path d='M1945 771l104 97 20-76z' fill='#135f8e' stroke='#135f8e' stroke-width='1.51'/><path d='M1962 682l-17 89 98-86z' fill='#1f6a97' stroke='#1f6a97' stroke-width='1.51'/><path d='M1975 4l-38 108 117-7z' fill='#7d8fac' stroke='#7d8fac' stroke-width='1.51'/><path d='M1937 112l17 73 100-80z' fill='#798cab' stroke='#798cab' stroke-width='1.51'/><path d='M1982 591l-20 91 81 3z' fill='#2e6e98' stroke='#2e6e98' stroke-width='1.51'/><path d='M1945 771l4 118 100-21z' fill='#0e5f91' stroke='#0e5f91' stroke-width='1.51'/><path d='M1954 185l-11 88 107-67z' fill='#7187a8' stroke='#7187a8' stroke-width='1.51'/><path d='M1555-130l89 19 120-12z' fill='#95aacd' stroke='#95aacd' stroke-width='1.51'/><path d='M1863-120l5 130 79-141z' fill='#8b9cba' stroke='#8b9cba' stroke-width='1.51'/><path d='M1878 985l2 104 78-2z' fill='#035586' stroke='#035586' stroke-width='1.51'/><path d='M1882 590l-6 85 86 7z' fill='#3073a1' stroke='#3073a1' stroke-width='1.51'/><path d='M1938 372l-97 97 128 27z' fill='#5480a7' stroke='#5480a7' stroke-width='1.51'/><path d='M1947-131l-79 141 107-6z' fill='#8798b5' stroke='#8798b5' stroke-width='1.51'/><path d='M1868 10l69 102 38-108z' fill='#8295b3' stroke='#8295b3' stroke-width='1.51'/><path d='M1958 1087l-78 2 96 108z' fill='#034d79' stroke='#034d79' stroke-width='1.51'/><path d='M1880 1089l-31 101 127 7z' fill='#034b77' stroke='#034b77' stroke-width='1.51'/><path d='M1878 985l80 102 19-97z' fill='#045586' stroke='#045586' stroke-width='1.51'/><path d='M1949 889l-71 96 99 5z' fill='#045a8d' stroke='#045a8d' stroke-width='1.51'/><path d='M1969 496l-87 94 100 1z' fill='#4077a1' stroke='#4077a1' stroke-width='1.51'/><path d='M1882 590l80 92 20-91z' fill='#35739e' stroke='#35739e' stroke-width='1.51'/><path d='M1945 771l-77 9 81 109z' fill='#136598' stroke='#136598' stroke-width='1.51'/><path d='M1776 1170l-106 16 179 4z' fill='#04507e' stroke='#04507e' stroke-width='1.51'/><path d='M1868 780l-20 89 101 20z' fill='#0e659a' stroke='#0e659a' stroke-width='1.51'/><path d='M1876 675l69 96 17-89z' fill='#216e9c' stroke='#216e9c' stroke-width='1.51'/><path d='M1841 469l41 121 87-94z' fill='#497ca7' stroke='#497ca7' stroke-width='1.51'/><path d='M1868 10l-1 102h70z' fill='#8195b6' stroke='#8195b6' stroke-width='1.51'/><path d='M1840 387l1 82 97-97z' fill='#5b84ad' stroke='#5b84ad' stroke-width='1.51'/><path d='M1864 275l74 97 5-99z' fill='#6887ac' stroke='#6887ac' stroke-width='1.51'/><path d='M1937 112l-78 55 95 18z' fill='#7a8fb0' stroke='#7a8fb0' stroke-width='1.51'/><path d='M1864 275l79-2 11-88z' fill='#708aad' stroke='#708aad' stroke-width='1.51'/><path d='M1859 167l5 108 90-90z' fill='#768eb1' stroke='#768eb1' stroke-width='1.51'/><path d='M1876 675l-8 105 77-9z' fill='#1d6d9e' stroke='#1d6d9e' stroke-width='1.51'/><path d='M1848 869l30 116 71-96z' fill='#045f95' stroke='#045f95' stroke-width='1.51'/><path d='M1867 112l-8 55 78-55z' fill='#7d92b4' stroke='#7d92b4' stroke-width='1.51'/><path d='M1864 275l-24 112 98-15z' fill='#6587ae' stroke='#6587ae' stroke-width='1.51'/><path d='M1764-123l-3 109 102-106z' fill='#8fa3c3' stroke='#8fa3c3' stroke-width='1.51'/><path d='M1771 294l69 93 24-112z' fill='#6a8cb5' stroke='#6a8cb5' stroke-width='1.51'/><path d='M1859 167l-98 39 103 69z' fill='#7791b7' stroke='#7791b7' stroke-width='1.51'/><path d='M1744 68l123 44 1-102z' fill='#859bbd' stroke='#859bbd' stroke-width='1.51'/><path d='M1863-120l-102 106 107 24z' fill='#8c9fbf' stroke='#8c9fbf' stroke-width='1.51'/><path d='M1780 679l88 101 8-105z' fill='#2274a4' stroke='#2274a4' stroke-width='1.51'/><path d='M1848 869l-110 30 140 86z' fill='#05639b' stroke='#05639b' stroke-width='1.51'/><path d='M1738 899l23 112 117-26z' fill='#046199' stroke='#046199' stroke-width='1.51'/><path d='M1776 1170l73 20 31-101z' fill='#03507f' stroke='#03507f' stroke-width='1.51'/><path d='M1748 1069l28 101 104-81z' fill='#035687' stroke='#035687' stroke-width='1.51'/><path d='M1878 985l-117 26 119 78zM1761 1011l-13 58 132 20z' fill='#045b8f' stroke='#045b8f' stroke-width='1.51'/><path d='M1841 469l-96 42 137 79z' fill='#4a81ae' stroke='#4a81ae' stroke-width='1.51'/><path d='M1745 511l-5 98 142-19z' fill='#4280ae' stroke='#4280ae' stroke-width='1.51'/><path d='M1780 679l96-4 6-85z' fill='#3277a7' stroke='#3277a7' stroke-width='1.51'/><path d='M1740 609l40 70 102-89z' fill='#377cac' stroke='#377cac' stroke-width='1.51'/><path d='M1746 807l102 62 20-89z' fill='#136ba2' stroke='#136ba2' stroke-width='1.51'/><path d='M1761 206l10 88 93-19z' fill='#7390b8' stroke='#7390b8' stroke-width='1.51'/><path d='M1744 68l115 99 8-55z' fill='#8197bb' stroke='#8197bb' stroke-width='1.51'/><path d='M1761-14l-17 82 124-58z' fill='#899ec1' stroke='#899ec1' stroke-width='1.51'/><path d='M1780 679l-34 128 122-27z' fill='#1d72a6' stroke='#1d72a6' stroke-width='1.51'/><path d='M1744 68l17 138 98-39z' fill='#7f97bc' stroke='#7f97bc' stroke-width='1.51'/><path d='M1840 387l-99 14 100 68z' fill='#5c87b3' stroke='#5c87b3' stroke-width='1.51'/><path d='M1746 807l-8 92 110-30z' fill='#0c69a2' stroke='#0c69a2' stroke-width='1.51'/><path d='M1771 294l-30 107 99-14z' fill='#658bb6' stroke='#658bb6' stroke-width='1.51'/><path d='M1741 401l4 110 96-42z' fill='#5687b3' stroke='#5687b3' stroke-width='1.51'/><path d='M1641 101l40 102 63-135z' fill='#849cc4' stroke='#849cc4' stroke-width='1.51'/><path d='M1744 68l-63 135 80 3z' fill='#8099c0' stroke='#8099c0' stroke-width='1.51'/><path d='M1738 899l-59 8 82 104z' fill='#04659f' stroke='#04659f' stroke-width='1.51'/><path d='M1679 907l-29 65 111 39z' fill='#04659e' stroke='#04659e' stroke-width='1.51'/><path d='M1679-26l82 12 3-109z' fill='#8fa4c7' stroke='#8fa4c7' stroke-width='1.51'/><path d='M1761 206l-89 61 99 27z' fill='#7493bd' stroke='#7493bd' stroke-width='1.51'/><path d='M1672 267l69 134 30-107z' fill='#6c90bb' stroke='#6c90bb' stroke-width='1.51'/><path d='M1748 1069l-83 32 111 69z' fill='#03588b' stroke='#03588b' stroke-width='1.51'/><path d='M1665 1101l5 85 106-16z' fill='#045686' stroke='#045686' stroke-width='1.51'/><path d='M1740 609l-95 72 135-2z' fill='#327caf' stroke='#327caf' stroke-width='1.51'/><path d='M1643 770l103 37 34-128z' fill='#1e75ab' stroke='#1e75ab' stroke-width='1.51'/><path d='M1645 681l-2 89 137-91z' fill='#247aae' stroke='#247aae' stroke-width='1.51'/><path d='M1673 570l67 39 5-98z' fill='#4583b3' stroke='#4583b3' stroke-width='1.51'/><path d='M1672 267l-15 140 84-6z' fill='#6890bc' stroke='#6890bc' stroke-width='1.51'/><path d='M1741 401l-99 68 103 42z' fill='#5789b7' stroke='#5789b7' stroke-width='1.51'/><path d='M1681 203l-9 64 89-61z' fill='#7996bf' stroke='#7996bf' stroke-width='1.51'/><path d='M1679-26l65 94 17-82z' fill='#8ca2c5' stroke='#8ca2c5' stroke-width='1.51'/><path d='M1644-111l35 85 85-97z' fill='#92a7c9' stroke='#92a7c9' stroke-width='1.51'/><path d='M1657 407l-15 62 99-68z' fill='#5d8cba' stroke='#5d8cba' stroke-width='1.51'/><path d='M1679 907l59-8 8-92z' fill='#096aa5' stroke='#096aa5' stroke-width='1.51'/><path d='M1650 972l98 97 13-58z' fill='#046197' stroke='#046197' stroke-width='1.51'/><path d='M955-130l226 32 99-13z' fill='#abc5e0' stroke='#abc5e0' stroke-width='1.51'/><path d='M1679-26l-38 127 103-33z' fill='#8aa1c6' stroke='#8aa1c6' stroke-width='1.51'/><path d='M1643 770l36 137 67-100z' fill='#136fa9' stroke='#136fa9' stroke-width='1.51'/><path d='M1650 972l15 129 83-32z' fill='#046096' stroke='#046096' stroke-width='1.51'/><path d='M1642 469l31 101 72-59z' fill='#4e87b7' stroke='#4e87b7' stroke-width='1.51'/><path d='M1673 570l-28 111 95-72z' fill='#3a80b2' stroke='#3a80b2' stroke-width='1.51'/><path d='M348 1193l-65 4 269 4z' fill='#7184a3' stroke='#7184a3' stroke-width='1.51'/><path d='M1266 1173l-107 10 205 4z' fill='#1d6793' stroke='#1d6793' stroke-width='1.51'/><path d='M1375-108l78 4 102-26z' fill='#9bb3d7' stroke='#9bb3d7' stroke-width='1.51'/><path d='M1580 5v75l61 21z' fill='#8ba4cb' stroke='#8ba4cb' stroke-width='1.51'/><path d='M1553 296l-12 88 116 23z' fill='#6a93c2' stroke='#6a93c2' stroke-width='1.51'/><path d='M1650 972l-79 37 94 92z' fill='#04649c' stroke='#04649c' stroke-width='1.51'/><path d='M1665 1101l-107 93 112-8z' fill='#04588a' stroke='#04588a' stroke-width='1.51'/><path d='M1547 166l6 130 119-29z' fill='#799ac6' stroke='#799ac6' stroke-width='1.51'/><path d='M1553 296l104 111 15-140z' fill='#6e94c1' stroke='#6e94c1' stroke-width='1.51'/><path d='M1642 469l-71 37 102 64z' fill='#4f8aba' stroke='#4f8aba' stroke-width='1.51'/><path d='M1571 606l74 75 28-111z' fill='#3b83b6' stroke='#3b83b6' stroke-width='1.51'/><path d='M1643 770l-80 41 116 96z' fill='#1472ad' stroke='#1472ad' stroke-width='1.51'/><path d='M1563 811l-4 84 120 12z' fill='#0a6fad' stroke='#0a6fad' stroke-width='1.51'/><path d='M1644-111l-64 116 99-31z' fill='#91a7cc' stroke='#91a7cc' stroke-width='1.51'/><path d='M1580 5l61 96 38-127z' fill='#8da4ca' stroke='#8da4ca' stroke-width='1.51'/><path d='M1547 166l125 101 9-64z' fill='#7d99c4' stroke='#7d99c4' stroke-width='1.51'/><path d='M1641 101l-94 65 134 37z' fill='#829dc6' stroke='#829dc6' stroke-width='1.51'/><path d='M1559 895l91 77 29-65z' fill='#056aa6' stroke='#056aa6' stroke-width='1.51'/><path d='M1571 1009l-31 75 125 17z' fill='#04639b' stroke='#04639b' stroke-width='1.51'/><path d='M1571 506v100l102-36z' fill='#4788ba' stroke='#4788ba' stroke-width='1.51'/><path d='M1572 712l71 58 2-89z' fill='#237cb2' stroke='#237cb2' stroke-width='1.51'/><path d='M1540 1084l18 110 107-93z' fill='#045d91' stroke='#045d91' stroke-width='1.51'/><path d='M1555-130l25 135 64-116z' fill='#94abd0' stroke='#94abd0' stroke-width='1.51'/><path d='M1541 384l101 85 15-62z' fill='#608fbe' stroke='#608fbe' stroke-width='1.51'/><path d='M1580 80l-33 86 94-65z' fill='#87a1ca' stroke='#87a1ca' stroke-width='1.51'/><path d='M1559 895l12 114 79-37z' fill='#0569a5' stroke='#0569a5' stroke-width='1.51'/><path d='M1541 384l30 122 71-37z' fill='#5b8fbf' stroke='#5b8fbf' stroke-width='1.51'/><path d='M1571 606l1 106 73-31z' fill='#3281b6' stroke='#3281b6' stroke-width='1.51'/><path d='M1572 712l-9 99 80-41z' fill='#1e79b2' stroke='#1e79b2' stroke-width='1.51'/><path d='M1547 166l-70 18 76 112z' fill='#7f9ecb' stroke='#7f9ecb' stroke-width='1.51'/><path d='M1541 384l-94 90 124 32z' fill='#5c92c3' stroke='#5c92c3' stroke-width='1.51'/><path d='M1571 506l-115 68 115 32z' fill='#488abf' stroke='#488abf' stroke-width='1.51'/><path d='M1559 895l-96 73 108 41z' fill='#056ba9' stroke='#056ba9' stroke-width='1.51'/><path d='M1458 807l105 4 9-99z' fill='#1d7ab5' stroke='#1d7ab5' stroke-width='1.51'/><path d='M1571 606l-131 90 132 16z' fill='#3183ba' stroke='#3183ba' stroke-width='1.51'/><path d='M1445 84l102 82 33-86z' fill='#89a4ce' stroke='#89a4ce' stroke-width='1.51'/><path d='M1555-130l-102 26 127 109z' fill='#96aed4' stroke='#96aed4' stroke-width='1.51'/><path d='M1453-104l-11 103 138 6z' fill='#95aed3' stroke='#95aed3' stroke-width='1.51'/><path d='M1445 84l135-4v-75z' fill='#8da7d0' stroke='#8da7d0' stroke-width='1.51'/><path d='M1442-1l3 85 135-79z' fill='#91abd2' stroke='#91abd2' stroke-width='1.51'/><path d='M1540 1084l-101 114 119-4z' fill='#075c90' stroke='#075c90' stroke-width='1.51'/><path d='M1468 895l-5 73 96-73z' fill='#0b70ae' stroke='#0b70ae' stroke-width='1.51'/><path d='M1468 895h91l4-84z' fill='#0c72b1' stroke='#0c72b1' stroke-width='1.51'/><path d='M1458 807l10 88 95-84z' fill='#1676b3' stroke='#1676b3' stroke-width='1.51'/><path d='M1447 474l9 100 115-68z' fill='#5290c2' stroke='#5290c2' stroke-width='1.51'/><path d='M1456 574l-16 122 131-90z' fill='#3e89be' stroke='#3e89be' stroke-width='1.51'/><path d='M1459 1071l81 13 31-75z' fill='#0666a0' stroke='#0666a0' stroke-width='1.51'/><path d='M1463 968l-4 103 112-62z' fill='#0a6aa4' stroke='#0a6aa4' stroke-width='1.51'/><path d='M1440 696l18 111 114-95z' fill='#2580b9' stroke='#2580b9' stroke-width='1.51'/><path d='M1459 1071l-20 127 101-114z' fill='#0c6298' stroke='#0c6298' stroke-width='1.51'/><path d='M1445 84l32 100 70-18z' fill='#87a4ce' stroke='#87a4ce' stroke-width='1.51'/><path d='M1453 379l88 5 12-88z' fill='#6d97c7' stroke='#6d97c7' stroke-width='1.51'/><path d='M1441 303l12 76 100-83z' fill='#729bc8' stroke='#729bc8' stroke-width='1.51'/><path d='M1477 184l-36 119 112-7z' fill='#7a9eca' stroke='#7a9eca' stroke-width='1.51'/><path d='M1453 379l-6 95 94-90z' fill='#6596c6' stroke='#6596c6' stroke-width='1.51'/><path d='M636-128l124 16 195-18z' fill='#c8d4e8' stroke='#c8d4e8' stroke-width='1.51'/><path d='M940 1176l-190 25 316-8z' fill='#46749a' stroke='#46749a' stroke-width='1.51'/><path d='M1341 1103l23 84 75 11z' fill='#156393' stroke='#156393' stroke-width='1.51'/><path d='M1368 183l-13 103 86 17z' fill='#7fa4cd' stroke='#7fa4cd' stroke-width='1.51'/><path d='M1374 408l73 66 6-95z' fill='#6699c7' stroke='#6699c7' stroke-width='1.51'/><path d='M1349 611l91 85 16-122z' fill='#418cc0' stroke='#418cc0' stroke-width='1.51'/><path d='M1447 474l-69 37 78 63z' fill='#5593c3' stroke='#5593c3' stroke-width='1.51'/><path d='M1440 696l-93 94 111 17z' fill='#2782b9' stroke='#2782b9' stroke-width='1.51'/><path d='M1341 1103l98 95 20-127z' fill='#136598' stroke='#136598' stroke-width='1.51'/><path d='M1357 994l102 77 4-103z' fill='#136ea7' stroke='#136ea7' stroke-width='1.51'/><path d='M1458 807l-100 74 110 14z' fill='#1a78b5' stroke='#1a78b5' stroke-width='1.51'/><path d='M1445 84l-77 99 109 1z' fill='#89a8d0' stroke='#89a8d0' stroke-width='1.51'/><path d='M1368 183l73 120 36-119z' fill='#82a3cd' stroke='#82a3cd' stroke-width='1.51'/><path d='M1360 706l-13 84 93-94z' fill='#2d87bc' stroke='#2d87bc' stroke-width='1.51'/><path d='M1375-108l67 107 11-103z' fill='#9ab4d6' stroke='#9ab4d6' stroke-width='1.51'/><path d='M1358 881l-1 113 106-26z' fill='#1874ae' stroke='#1874ae' stroke-width='1.51'/><path d='M1358 881l105 87 5-73z' fill='#1574b0' stroke='#1574b0' stroke-width='1.51'/><path d='M1347 97l21 86 77-99z' fill='#8dacd2' stroke='#8dacd2' stroke-width='1.51'/><path d='M1442-1l-93 11 96 74z' fill='#94b0d4' stroke='#94b0d4' stroke-width='1.51'/><path d='M1441 303l-67 105 79-29z' fill='#6f9cc9' stroke='#6f9cc9' stroke-width='1.51'/><path d='M1347 790l11 91 100-74z' fill='#227eb7' stroke='#227eb7' stroke-width='1.51'/><path d='M1357 994l-16 109 118-32z' fill='#176da3' stroke='#176da3' stroke-width='1.51'/><path d='M1349 611l11 95 80-10z' fill='#398bbe' stroke='#398bbe' stroke-width='1.51'/><path d='M1375-108l-26 118 93-11z' fill='#99b4d6' stroke='#99b4d6' stroke-width='1.51'/><path d='M1378 511l-29 100 107-37z' fill='#4e92c3' stroke='#4e92c3' stroke-width='1.51'/><path d='M1355 286l19 122 67-105z' fill='#75a0cb' stroke='#75a0cb' stroke-width='1.51'/><path d='M1349 10l-2 87 98-13z' fill='#92b0d4' stroke='#92b0d4' stroke-width='1.51'/><path d='M1374 408l4 103 69-37z' fill='#6098c6' stroke='#6098c6' stroke-width='1.51'/><path d='M955-130l111 38 115-6z' fill='#b1c8e0' stroke='#b1c8e0' stroke-width='1.51'/><path d='M1267 476l-13 130 95 5z' fill='#5398c6' stroke='#5398c6' stroke-width='1.51'/><path d='M1256 1072l85 31 16-109z' fill='#1d71a5' stroke='#1d71a5' stroke-width='1.51'/><path d='M1246 884l111 110 1-113z' fill='#1f7ab3' stroke='#1f7ab3' stroke-width='1.51'/><path d='M1275 202l80 84 13-103z' fill='#85a9d0' stroke='#85a9d0' stroke-width='1.51'/><path d='M1355 286l-89 107 108 15z' fill='#73a1cb' stroke='#73a1cb' stroke-width='1.51'/><path d='M1266 393l1 83 107-68z' fill='#6aa0ca' stroke='#6aa0ca' stroke-width='1.51'/><path d='M1268-26l81 36 26-118z' fill='#9bb8d8' stroke='#9bb8d8' stroke-width='1.51'/><path d='M1280-111l-12 85 107-82z' fill='#9ebbda' stroke='#9ebbda' stroke-width='1.51'/><path d='M1374 408l-107 68 111 35z' fill='#629cc8' stroke='#629cc8' stroke-width='1.51'/><path d='M1267 476l82 135 29-100z' fill='#5698c5' stroke='#5698c5' stroke-width='1.51'/><path d='M1246 884l-3 111 114-1z' fill='#2179b0' stroke='#2179b0' stroke-width='1.51'/><path d='M1347 790l-66 9 77 82z' fill='#2781b9' stroke='#2781b9' stroke-width='1.51'/><path d='M1347 97l-72 105 93-19z' fill='#8dadd2' stroke='#8dadd2' stroke-width='1.51'/><path d='M1349 611l-88 100 99-5z' fill='#3b8ec0' stroke='#3b8ec0' stroke-width='1.51'/><path d='M1341 1103l-75 70 98 14z' fill='#196796' stroke='#196796' stroke-width='1.51'/><path d='M1271 93l4 109 72-105z' fill='#90b0d4' stroke='#90b0d4' stroke-width='1.51'/><path d='M1271 93l76 4 2-87z' fill='#95b3d5' stroke='#95b3d5' stroke-width='1.51'/><path d='M1261 711l86 79 13-84z' fill='#3089bd' stroke='#3089bd' stroke-width='1.51'/><path d='M1261 711l20 88 66-9z' fill='#2f88bc' stroke='#2f88bc' stroke-width='1.51'/><path d='M1254 606l7 105 88-100z' fill='#4492c2' stroke='#4492c2' stroke-width='1.51'/><path d='M1238 268l28 125 89-107z' fill='#7ba7ce' stroke='#7ba7ce' stroke-width='1.51'/><path d='M1243 995l13 77 101-78z' fill='#2076aa' stroke='#2076aa' stroke-width='1.51'/><path d='M1275 202l-37 66 117 18z' fill='#83aad0' stroke='#83aad0' stroke-width='1.51'/><path d='M1281 799l-35 85 112-3z' fill='#2580b8' stroke='#2580b8' stroke-width='1.51'/><path d='M855 1177l-105 24 190-25z' fill='#4d779c' stroke='#4d779c' stroke-width='1.51'/><path d='M1268-26l3 119 78-83z' fill='#99b7d7' stroke='#99b7d7' stroke-width='1.51'/><path d='M1256 1072l10 101 75-70z' fill='#1d6d9d' stroke='#1d6d9d' stroke-width='1.51'/><path d='M447 1191l-99 2 204 8z' fill='#6d83a2' stroke='#6d83a2' stroke-width='1.51'/><path d='M1254 606l-77 61 84 44z' fill='#4494c3' stroke='#4494c3' stroke-width='1.51'/><path d='M1238 268l-78 108 106 17z' fill='#7aa8cf' stroke='#7aa8cf' stroke-width='1.51'/><path d='M1256 1072l-103 26 113 75z' fill='#24709f' stroke='#24709f' stroke-width='1.51'/><path d='M1143 582l111 24 13-130z' fill='#599cc7' stroke='#599cc7' stroke-width='1.51'/><path d='M1139 483l4 99 124-106z' fill='#64a1ca' stroke='#64a1ca' stroke-width='1.51'/><path d='M1268-26l-111 15 114 104z' fill='#9cbbda' stroke='#9cbbda' stroke-width='1.51'/><path d='M1157-11l-12 85 126 19z' fill='#9dbbd9' stroke='#9dbbd9' stroke-width='1.51'/><path d='M1271 93l-113 78 117 31z' fill='#91b2d5' stroke='#91b2d5' stroke-width='1.51'/><path d='M1181-98l87 72 12-85z' fill='#a1bfdc' stroke='#a1bfdc' stroke-width='1.51'/><path d='M1261 711l-121 85 141 3z' fill='#348cbe' stroke='#348cbe' stroke-width='1.51'/><path d='M1140 796l106 88 35-85z' fill='#2f86bc' stroke='#2f86bc' stroke-width='1.51'/><path d='M1176 896l67 99 3-111z' fill='#287fb5' stroke='#287fb5' stroke-width='1.51'/><path d='M1153 1098l6 85 107-10z' fill='#286e9a' stroke='#286e9a' stroke-width='1.51'/><path d='M1266 393l-106-17 107 100z' fill='#6fa4cc' stroke='#6fa4cc' stroke-width='1.51'/><path d='M1160 376l-21 107 128-7z' fill='#6ea4cc' stroke='#6ea4cc' stroke-width='1.51'/><path d='M1158 171l80 97 37-66z' fill='#8cb0d3' stroke='#8cb0d3' stroke-width='1.51'/><path d='M1176 896l-5 89 72 10z' fill='#2c7db2' stroke='#2c7db2' stroke-width='1.51'/><path d='M1145 74l13 97 113-78z' fill='#98b7d7' stroke='#98b7d7' stroke-width='1.51'/><path d='M1140 796l36 100 70-12z' fill='#3285bb' stroke='#3285bb' stroke-width='1.51'/><path d='M1181-98l-24 87 111-15z' fill='#a3bfdc' stroke='#a3bfdc' stroke-width='1.51'/><path d='M1177 667l-37 129 121-85z' fill='#3d91c1' stroke='#3d91c1' stroke-width='1.51'/><path d='M1154 269l6 107 78-108z' fill='#83acd1' stroke='#83acd1' stroke-width='1.51'/><path d='M1243 995l-72-10 85 87z' fill='#2779ab' stroke='#2779ab' stroke-width='1.51'/><path d='M1171 985l-18 113 103-26z' fill='#2b78a9' stroke='#2b78a9' stroke-width='1.51'/><path d='M1158 171l-4 98 84-1z' fill='#8cb1d3' stroke='#8cb1d3' stroke-width='1.51'/><path d='M1143 582l34 85 77-61z' fill='#5199c6' stroke='#5199c6' stroke-width='1.51'/><path d='M1070 203l84 66 4-98z' fill='#94b4d5' stroke='#94b4d5' stroke-width='1.51'/><path d='M1154 269l-78 22 84 85z' fill='#87aed2' stroke='#87aed2' stroke-width='1.51'/><path d='M1041 978l112 120 18-113z' fill='#367dae' stroke='#367dae' stroke-width='1.51'/><path d='M1140 796l-102 94 138 6z' fill='#3c88bd' stroke='#3c88bd' stroke-width='1.51'/><path d='M1041 978l130 7 5-89z' fill='#3681b4' stroke='#3681b4' stroke-width='1.51'/><path d='M1038 890l3 88 135-82z' fill='#3d85b9' stroke='#3d85b9' stroke-width='1.51'/><path d='M1074 689l66 107 37-129z' fill='#4695c3' stroke='#4695c3' stroke-width='1.51'/><path d='M1143 582l-63 18 97 67z' fill='#579cc7' stroke='#579cc7' stroke-width='1.51'/><path d='M1066-92l91 81 24-87z' fill='#a9c3de' stroke='#a9c3de' stroke-width='1.51'/><path d='M1041 978l13 130 99-10z' fill='#3a7bab' stroke='#3a7bab' stroke-width='1.51'/><path d='M1145 74l-70 17 83 80z' fill='#9dbad9' stroke='#9dbad9' stroke-width='1.51'/><path d='M1066 384l73 99 21-107z' fill='#79a9cf' stroke='#79a9cf' stroke-width='1.51'/><path d='M1080 600l-6 89 103-22z' fill='#549ac6' stroke='#549ac6' stroke-width='1.51'/><path d='M1139 483l-57 17 61 82z' fill='#68a3cc' stroke='#68a3cc' stroke-width='1.51'/><path d='M1054 1108l12 85 87-95z' fill='#36749f' stroke='#36749f' stroke-width='1.51'/><path d='M1153 1098l-87 95 93-10z' fill='#30709a' stroke='#30709a' stroke-width='1.51'/><path d='M1074 689l-23 87 89 20z' fill='#4893c2' stroke='#4893c2' stroke-width='1.51'/><path d='M1053-10l22 101 70-17z' fill='#a5c0dc' stroke='#a5c0dc' stroke-width='1.51'/><path d='M1053-10l92 84 12-85z' fill='#a6c0dd' stroke='#a6c0dd' stroke-width='1.51'/><path d='M1066-92l-13 82 104-1z' fill='#abc4df' stroke='#abc4df' stroke-width='1.51'/><path d='M1075 91l-5 112 88-32z' fill='#9cb9d8' stroke='#9cb9d8' stroke-width='1.51'/><path d='M1076 291l-10 93 94-8z' fill='#84aed2' stroke='#84aed2' stroke-width='1.51'/><path d='M1070 203l6 88 78-22z' fill='#91b3d5' stroke='#91b3d5' stroke-width='1.51'/><path d='M1066 384l16 116 57-17z' fill='#75a8cf' stroke='#75a8cf' stroke-width='1.51'/><path d='M1051 776l-13 114 102-94z' fill='#448dc0' stroke='#448dc0' stroke-width='1.51'/><path d='M1082 500l-2 100 63-18z' fill='#64a1cb' stroke='#64a1cb' stroke-width='1.51'/><path d='M1041 978l-82 122 95 8z' fill='#417ead' stroke='#417ead' stroke-width='1.51'/><path d='M944 413l19 80 103-109z' fill='#82aed2' stroke='#82aed2' stroke-width='1.51'/><path d='M970 88l-24 117 124-2z' fill='#a3bddb' stroke='#a3bddb' stroke-width='1.51'/><path d='M971 603l-8 66 111 20z' fill='#5e9fc9' stroke='#5e9fc9' stroke-width='1.51'/><path d='M970 88l100 115 5-112z' fill='#a3bddb' stroke='#a3bddb' stroke-width='1.51'/><path d='M1053-10l-83 98 105 3z' fill='#a9c2dd' stroke='#a9c2dd' stroke-width='1.51'/><path d='M1070 203l-93 84 99 4z' fill='#95b5d7' stroke='#95b5d7' stroke-width='1.51'/><path d='M977 287l89 97 10-93z' fill='#8db2d5' stroke='#8db2d5' stroke-width='1.51'/><path d='M971 603l103 86 6-89z' fill='#5f9fc9' stroke='#5f9fc9' stroke-width='1.51'/><path d='M1066 384l-103 109 119 7z' fill='#7aaad0' stroke='#7aaad0' stroke-width='1.51'/><path d='M971 603l109-3 2-100z' fill='#68a3cc' stroke='#68a3cc' stroke-width='1.51'/><path d='M963 493l8 110 111-103z' fill='#71a7ce' stroke='#71a7ce' stroke-width='1.51'/><path d='M963 669l88 107 23-87z' fill='#529ac5' stroke='#529ac5' stroke-width='1.51'/><path d='M950 804l88 86 13-114z' fill='#4b90c1' stroke='#4b90c1' stroke-width='1.51'/><path d='M974-28l79 18 13-82z' fill='#b0c7e0' stroke='#b0c7e0' stroke-width='1.51'/><path d='M1054 1108l-114 68 126 17z' fill='#3d749d' stroke='#3d749d' stroke-width='1.51'/><path d='M946 205l31 82 93-84z' fill='#9cb9d8' stroke='#9cb9d8' stroke-width='1.51'/><path d='M977 287l-33 126 122-29z' fill='#8cb1d4' stroke='#8cb1d4' stroke-width='1.51'/><path d='M940 988l19 112 82-122z' fill='#4682b1' stroke='#4682b1' stroke-width='1.51'/><path d='M974-28l-4 116 83-98z' fill='#afc6e0' stroke='#afc6e0' stroke-width='1.51'/><path d='M959 1100l-19 76 114-68z' fill='#4278a3' stroke='#4278a3' stroke-width='1.51'/><path d='M955-130l19 102 92-64z' fill='#b5cae2' stroke='#b5cae2' stroke-width='1.51'/><path d='M1038 890l-100 9 103 79z' fill='#4688bb' stroke='#4688bb' stroke-width='1.51'/><path d='M963 669l-13 135 101-28z' fill='#5398c6' stroke='#5398c6' stroke-width='1.51'/><path d='M938 899l2 89 101-10z' fill='#4987b8' stroke='#4987b8' stroke-width='1.51'/><path d='M950 804l-12 95 100-9z' fill='#4c8ec0' stroke='#4c8ec0' stroke-width='1.51'/><path d='M760-112l121 20 74-38z' fill='#c1d1e6' stroke='#c1d1e6' stroke-width='1.51'/><path d='M940 988l-98 87 117 25z' fill='#4d82b0' stroke='#4d82b0' stroke-width='1.51'/><path d='M854 676l96 128 13-135z' fill='#5d9ec8' stroke='#5d9ec8' stroke-width='1.51'/><path d='M858 174l88 31 24-117z' fill='#aac0dc' stroke='#aac0dc' stroke-width='1.51'/><path d='M881 70l-23 104 112-86z' fill='#b0c4de' stroke='#b0c4de' stroke-width='1.51'/><path d='M963 493l-83-12 91 122z' fill='#78abd0' stroke='#78abd0' stroke-width='1.51'/><path d='M880 481l-42 130 133-8z' fill='#77a9cf' stroke='#77a9cf' stroke-width='1.51'/><path d='M881 70l89 18 4-116z' fill='#b1c6e0' stroke='#b1c6e0' stroke-width='1.51'/><path d='M845-8l36 78 93-98z' fill='#b7cae2' stroke='#b7cae2' stroke-width='1.51'/><path d='M955-130l-74 38 93 64z' fill='#bacde4' stroke='#bacde4' stroke-width='1.51'/><path d='M861 404l83 9 33-126z' fill='#90b4d5' stroke='#90b4d5' stroke-width='1.51'/><path d='M853 272l8 132 116-117z' fill='#99b7d8' stroke='#99b7d8' stroke-width='1.51'/><path d='M946 205l-93 67 124 15z' fill='#9fbad9' stroke='#9fbad9' stroke-width='1.51'/><path d='M854 676l-7 132 103-4z' fill='#5e9ac7' stroke='#5e9ac7' stroke-width='1.51'/><path d='M944 413l-64 68 83 12z' fill='#83aed2' stroke='#83aed2' stroke-width='1.51'/><path d='M838 611l16 65 109-7z' fill='#6ba3cb' stroke='#6ba3cb' stroke-width='1.51'/><path d='M838 611l125 58 8-66z' fill='#6ba3cc' stroke='#6ba3cc' stroke-width='1.51'/><path d='M881-92l-36 84 129-20z' fill='#bacce4' stroke='#bacce4' stroke-width='1.51'/><path d='M861 876l77 23 12-95z' fill='#5390c2' stroke='#5390c2' stroke-width='1.51'/><path d='M855 1177l85-1 19-76z' fill='#4879a0' stroke='#4879a0' stroke-width='1.51'/><path d='M938 899l-85 67 87 22z' fill='#5089ba' stroke='#5089ba' stroke-width='1.51'/><path d='M842 1075l13 102 104-77z' fill='#4d7da7' stroke='#4d7da7' stroke-width='1.51'/><path d='M847 808l14 68 89-72z' fill='#5994c4' stroke='#5994c4' stroke-width='1.51'/><path d='M853 966l-11 109 98-87z' fill='#5287b5' stroke='#5287b5' stroke-width='1.51'/><path d='M475-110l76-1 85-17z' fill='#d9dced' stroke='#d9dced' stroke-width='1.51'/><path d='M861 404l19 77 64-68z' fill='#8ab1d4' stroke='#8ab1d4' stroke-width='1.51'/><path d='M858 174l-5 98 93-67z' fill='#a7bedb' stroke='#a7bedb' stroke-width='1.51'/><path d='M861 876l-8 90 85-67z' fill='#548dbe' stroke='#548dbe' stroke-width='1.51'/><path d='M747 281l10 112 96-121z' fill='#a3bcda' stroke='#a3bcda' stroke-width='1.51'/><path d='M783 977l59 98 11-109z' fill='#5788b7' stroke='#5788b7' stroke-width='1.51'/><path d='M765 780l82 28 7-132z' fill='#659ec8' stroke='#659ec8' stroke-width='1.51'/><path d='M853 272l-96 121 104 11z' fill='#9bb8d9' stroke='#9bb8d9' stroke-width='1.51'/><path d='M774 591l64 20 42-130z' fill='#7dacd1' stroke='#7dacd1' stroke-width='1.51'/><path d='M760 494l14 97 106-110z' fill='#85afd3' stroke='#85afd3' stroke-width='1.51'/><path d='M861 404l-101 90 120-13z' fill='#8cb2d4' stroke='#8cb2d4' stroke-width='1.51'/><path d='M746 69l112 105 23-104z' fill='#b6c7e0' stroke='#b6c7e0' stroke-width='1.51'/><path d='M845-8l-99 77 135 1z' fill='#bbcae3' stroke='#bbcae3' stroke-width='1.51'/><path d='M773-29l72 21 36-84z' fill='#c0cfe5' stroke='#c0cfe5' stroke-width='1.51'/><path d='M760-112l13 83 108-63z' fill='#c4d1e6' stroke='#c4d1e6' stroke-width='1.51'/><path d='M842 1075l-67 23 80 79z' fill='#537fa8' stroke='#537fa8' stroke-width='1.51'/><path d='M765 780l-23 133 105-105z' fill='#6397c6' stroke='#6397c6' stroke-width='1.51'/><path d='M741 175l6 106 106-9z' fill='#acc0dd' stroke='#acc0dd' stroke-width='1.51'/><path d='M745 695l20 85 89-104z' fill='#6ba2cb' stroke='#6ba2cb' stroke-width='1.51'/><path d='M746 69l-5 106 117-1z' fill='#b7c6e0' stroke='#b7c6e0' stroke-width='1.51'/><path d='M741 175l112 97 5-98z' fill='#aec1dd' stroke='#aec1dd' stroke-width='1.51'/><path d='M757 393l3 101 101-90z' fill='#93b5d6' stroke='#93b5d6' stroke-width='1.51'/><path d='M847 808l-105 105 119-37z' fill='#5e93c4' stroke='#5e93c4' stroke-width='1.51'/><path d='M783 977l70-11 8-90z' fill='#598dbd' stroke='#598dbd' stroke-width='1.51'/><path d='M742 913l41 64 78-101z' fill='#5d8fbf' stroke='#5d8fbf' stroke-width='1.51'/><path d='M775 1098l-25 103 105-24z' fill='#537ca2' stroke='#537ca2' stroke-width='1.51'/><path d='M773-29l-27 98 99-77z' fill='#c0cee4' stroke='#c0cee4' stroke-width='1.51'/><path d='M838 611l-93 84 109-19z' fill='#71a5cd' stroke='#71a5cd' stroke-width='1.51'/><path d='M783 977l-8 121 67-23z' fill='#5887b3' stroke='#5887b3' stroke-width='1.51'/><path d='M774 591l-29 104 93-84z' fill='#77a8cf' stroke='#77a8cf' stroke-width='1.51'/><path d='M138-109l129 12 75-7z' fill='#ebe6f2' stroke='#ebe6f2' stroke-width='1.51'/><path d='M747 281l-73 31 83 81z' fill='#a6bddb' stroke='#a6bddb' stroke-width='1.51'/><path d='M677 485l-4 121 87-112z' fill='#8db2d5' stroke='#8db2d5' stroke-width='1.51'/><path d='M757 393l-80 92 83 9z' fill='#95b5d7' stroke='#95b5d7' stroke-width='1.51'/><path d='M651 812l91 101 23-133z' fill='#6999c7' stroke='#6999c7' stroke-width='1.51'/><path d='M651-13l95 82 27-98z' fill='#c6d0e6' stroke='#c6d0e6' stroke-width='1.51'/><path d='M760 494l-87 112 101-15z' fill='#85afd3' stroke='#85afd3' stroke-width='1.51'/><path d='M673 606l72 89 29-104z' fill='#7caad0' stroke='#7caad0' stroke-width='1.51'/><path d='M673 1097l77 104 25-103z' fill='#5a81a7' stroke='#5a81a7' stroke-width='1.51'/><path d='M742 913l-96 65 137-1z' fill='#638fbe' stroke='#638fbe' stroke-width='1.51'/><path d='M673 1097l102 1 8-121z' fill='#5d88b3' stroke='#5d88b3' stroke-width='1.51'/><path d='M646 978l27 119 110-120z' fill='#638cb8' stroke='#638cb8' stroke-width='1.51'/><path d='M651 812l13 94 78 7z' fill='#6a96c6' stroke='#6a96c6' stroke-width='1.51'/><path d='M673 87l68 88 5-106z' fill='#becae2' stroke='#becae2' stroke-width='1.51'/><path d='M760-112l-109 99 122-16z' fill='#c9d3e7' stroke='#c9d3e7' stroke-width='1.51'/><path d='M663 682l-12 130 94-117z' fill='#73a4cd' stroke='#73a4cd' stroke-width='1.51'/><path d='M673 606l-10 76 82 13z' fill='#7caad0' stroke='#7caad0' stroke-width='1.51'/><path d='M741 175l-86 16 92 90z' fill='#b5c4df' stroke='#b5c4df' stroke-width='1.51'/><path d='M673 1097l-21 105 98-1z' fill='#5c7ea3' stroke='#5c7ea3' stroke-width='1.51'/><path d='M636-128l15 115 109-99z' fill='#ced6e9' stroke='#ced6e9' stroke-width='1.51'/><path d='M745 695l-94 117 114-32z' fill='#6ea0cb' stroke='#6ea0cb' stroke-width='1.51'/><path d='M651-13l22 100 73-18z' fill='#c5cfe5' stroke='#c5cfe5' stroke-width='1.51'/><path d='M639 400l38 85 80-92z' fill='#9cb9d9' stroke='#9cb9d9' stroke-width='1.51'/><path d='M674 312l-35 88 118-7z' fill='#a4bcda' stroke='#a4bcda' stroke-width='1.51'/><path d='M664 906l-18 72 96-65z' fill='#6792c1' stroke='#6792c1' stroke-width='1.51'/><path d='M655 191l19 121 73-31z' fill='#b1c2de' stroke='#b1c2de' stroke-width='1.51'/><path d='M673 87l-18 104 86-16z' fill='#bdc9e2' stroke='#bdc9e2' stroke-width='1.51'/><path d='M579 673l-42 131 114 8z' fill='#79a4cd' stroke='#79a4cd' stroke-width='1.51'/><path d='M556 198l-6 95 105-102z' fill='#bdc8e1' stroke='#bdc8e1' stroke-width='1.51'/><path d='M579 673l72 139 12-130z' fill='#78a7ce' stroke='#78a7ce' stroke-width='1.51'/><path d='M651 812l-72 65 85 29z' fill='#6f99c8' stroke='#6f99c8' stroke-width='1.51'/><path d='M582 1091l70 111 21-105z' fill='#6384a9' stroke='#6384a9' stroke-width='1.51'/><path d='M646 978l-64 113 91 6z' fill='#688cb5' stroke='#688cb5' stroke-width='1.51'/><path d='M559 113l96 78 18-104z' fill='#c3cce4' stroke='#c3cce4' stroke-width='1.51'/><path d='M651-13l-92 126 114-26z' fill='#c9d0e6' stroke='#c9d0e6' stroke-width='1.51'/><path d='M579 673l84 9 10-76z' fill='#81acd1' stroke='#81acd1' stroke-width='1.51'/><path d='M655 191l-105 102 124 19z' fill='#b6c4df' stroke='#b6c4df' stroke-width='1.51'/><path d='M550 293l89 107 35-88z' fill='#aec0dd' stroke='#aec0dd' stroke-width='1.51'/><path d='M639 400l-93 102 131-17z' fill='#9db9d9' stroke='#9db9d9' stroke-width='1.51'/><path d='M564 585l109 21 4-121z' fill='#8eb2d5' stroke='#8eb2d5' stroke-width='1.51'/><path d='M546 502l18 83 113-100z' fill='#96b6d7' stroke='#96b6d7' stroke-width='1.51'/><path d='M539-7l20 120 92-126z' fill='#ced4e7' stroke='#ced4e7' stroke-width='1.51'/><path d='M636-128l-85 17 100 98z' fill='#d3d8ea' stroke='#d3d8ea' stroke-width='1.51'/><path d='M564 585l15 88 94-67z' fill='#88afd3' stroke='#88afd3' stroke-width='1.51'/><path d='M552 989l30 102 64-113z' fill='#6c8fba' stroke='#6c8fba' stroke-width='1.51'/><path d='M582 1091l-30 110 100 1z' fill='#6481a4' stroke='#6481a4' stroke-width='1.51'/><path d='M559 113l-3 85 99-7z' fill='#c3cbe3' stroke='#c3cbe3' stroke-width='1.51'/><path d='M579 877l67 101 18-72z' fill='#6d95c3' stroke='#6d95c3' stroke-width='1.51'/><path d='M551-111l-12 104 112-6z' fill='#d3d7ea' stroke='#d3d7ea' stroke-width='1.51'/><path d='M550 293l-12 107h101z' fill='#adc0dd' stroke='#adc0dd' stroke-width='1.51'/><path d='M538 400l8 102 93-102z' fill='#a4bcdb' stroke='#a4bcdb' stroke-width='1.51'/><path d='M579 877l-27 112 94-11z' fill='#6f95c1' stroke='#6f95c1' stroke-width='1.51'/><path d='M537 804l42 73 72-65z' fill='#759eca' stroke='#759eca' stroke-width='1.51'/><path d='M451 1083l-4 108 105 10z' fill='#6d86a7' stroke='#6d86a7' stroke-width='1.51'/><path d='M539-7l-85 76 105 44z' fill='#d1d5e8' stroke='#d1d5e8' stroke-width='1.51'/><path d='M437 713l100 91 42-131z' fill='#81aad0' stroke='#81aad0' stroke-width='1.51'/><path d='M564 585l-92 27 107 61z' fill='#8db1d4' stroke='#8db1d4' stroke-width='1.51'/><path d='M439 888l113 101 27-112z' fill='#7698c5' stroke='#7698c5' stroke-width='1.51'/><path d='M552 989l-101 94 131 8z' fill='#708fb7' stroke='#708fb7' stroke-width='1.51'/><path d='M451 1083l101 118 30-110z' fill='#6b88ac' stroke='#6b88ac' stroke-width='1.51'/><path d='M471 266l79 27 6-95z' fill='#bfc8e2' stroke='#bfc8e2' stroke-width='1.51'/><path d='M472 612l-35 101 142-40z' fill='#8bb0d3' stroke='#8bb0d3' stroke-width='1.51'/><path d='M537 804l-98 84 140-11z' fill='#799eca' stroke='#799eca' stroke-width='1.51'/><path d='M466 803l-27 85 98-84z' fill='#7ea1cc' stroke='#7ea1cc' stroke-width='1.51'/><path d='M437 713l29 90 71 1z' fill='#82a7cf' stroke='#82a7cf' stroke-width='1.51'/><path d='M475-110l-18 89 82 14z' fill='#dadbec' stroke='#dadbec' stroke-width='1.51'/><path d='M538 400l-92 79 100 23z' fill='#a6bddb' stroke='#a6bddb' stroke-width='1.51'/><path d='M450 402l88-2 12-107z' fill='#b2c2de' stroke='#b2c2de' stroke-width='1.51'/><path d='M471 266l-21 136 100-109z' fill='#b9c6e0' stroke='#b9c6e0' stroke-width='1.51'/><path d='M475-110l64 103 12-104z' fill='#d9dbec' stroke='#d9dbec' stroke-width='1.51'/><path d='M439 888l10 111 103-10z' fill='#7797c2' stroke='#7797c2' stroke-width='1.51'/><path d='M449 999l2 84 101-94z' fill='#7593bb' stroke='#7593bb' stroke-width='1.51'/><path d='M444 169l112 29 3-85z' fill='#c9cee5' stroke='#c9cee5' stroke-width='1.51'/><path d='M546 502l-74 110 92-27z' fill='#95b6d7' stroke='#95b6d7' stroke-width='1.51'/><path d='M454 69l-10 100 115-56z' fill='#cfd2e6' stroke='#cfd2e6' stroke-width='1.51'/><path d='M446 479l26 133 74-110z' fill='#9dbad9' stroke='#9dbad9' stroke-width='1.51'/><path d='M444 169l27 97 85-68z' fill='#c6cce3' stroke='#c6cce3' stroke-width='1.51'/><path d='M450 402l-4 77 92-79z' fill='#acc0dd' stroke='#acc0dd' stroke-width='1.51'/><path d='M457-21l-3 90 85-76z' fill='#d7d8ea' stroke='#d7d8ea' stroke-width='1.51'/><path d='M439 888l-72 81 82 30z' fill='#7d9ac4' stroke='#7d9ac4' stroke-width='1.51'/><path d='M367 1101l80 90 4-108z' fill='#748bae' stroke='#748bae' stroke-width='1.51'/><path d='M364 811l75 77 27-85z' fill='#83a3cd' stroke='#83a3cd' stroke-width='1.51'/><path d='M444 169l-82 10 109 87z' fill='#cccfe4' stroke='#cccfe4' stroke-width='1.51'/><path d='M382 384l68 18 21-136z' fill='#bac6e0' stroke='#bac6e0' stroke-width='1.51'/><path d='M351 299l31 85 89-118z' fill='#c0c9e2' stroke='#c0c9e2' stroke-width='1.51'/><path d='M339 691l98 22 35-101z' fill='#91b2d5' stroke='#91b2d5' stroke-width='1.51'/><path d='M343 579l-4 112 133-79z' fill='#99b6d7' stroke='#99b6d7' stroke-width='1.51'/><path d='M446 479l-76 26 102 107z' fill='#a2bcda' stroke='#a2bcda' stroke-width='1.51'/><path d='M370 505l-27 74 129 33z' fill='#a0bada' stroke='#a0bada' stroke-width='1.51'/><path d='M366-26l91 5 18-89z' fill='#deddec' stroke='#deddec' stroke-width='1.51'/><path d='M342-104l24 78 109-84z' fill='#e2e0ee' stroke='#e2e0ee' stroke-width='1.51'/><path d='M340 108l104 61 10-100z' fill='#d4d4e8' stroke='#d4d4e8' stroke-width='1.51'/><path d='M366-26l88 95 3-90z' fill='#dcdbeb' stroke='#dcdbeb' stroke-width='1.51'/><path d='M437 713l-73 98 102-8z' fill='#86a9d0' stroke='#86a9d0' stroke-width='1.51'/><path d='M362 179l-11 120 120-33z' fill='#c9cde4' stroke='#c9cde4' stroke-width='1.51'/><path d='M364 811l1 56 74 21z' fill='#84a2cd' stroke='#84a2cd' stroke-width='1.51'/><path d='M340 108l22 71 82-10z' fill='#d3d3e7' stroke='#d3d3e7' stroke-width='1.51'/><path d='M367 1101l-19 92 99-2z' fill='#7489a9' stroke='#7489a9' stroke-width='1.51'/><path d='M367 969v132l82-102z' fill='#7c95bd' stroke='#7c95bd' stroke-width='1.51'/><path d='M382 384l64 95 4-77z' fill='#b1c2de' stroke='#b1c2de' stroke-width='1.51'/><path d='M449 999l-82 102 84-18z' fill='#7892b9' stroke='#7892b9' stroke-width='1.51'/><path d='M366-26l-26 134 114-39z' fill='#dbdaeb' stroke='#dbdaeb' stroke-width='1.51'/><path d='M382 384l-12 121 76-26z' fill='#aec1dd' stroke='#aec1dd' stroke-width='1.51'/><path d='M365 867l2 102 72-81z' fill='#819ec9' stroke='#819ec9' stroke-width='1.51'/><path d='M339 691l25 120 73-98z' fill='#8caed2' stroke='#8caed2' stroke-width='1.51'/><path d='M272 276l79 23 11-120z' fill='#cccfe5' stroke='#cccfe5' stroke-width='1.51'/><path d='M339 691l-62 13 87 107z' fill='#8fb0d3' stroke='#8fb0d3' stroke-width='1.51'/><path d='M277 704l-26 80 113 27z' fill='#8eaed3' stroke='#8eaed3' stroke-width='1.51'/><path d='M237-16l103 124 26-134z' fill='#e1deed' stroke='#e1deed' stroke-width='1.51'/><path d='M246 1003l34 77 87-111z' fill='#819ac0' stroke='#819ac0' stroke-width='1.51'/><path d='M365 867l-101 13 103 89z' fill='#84a0cb' stroke='#84a0cb' stroke-width='1.51'/><path d='M367 969l-87 111 87 21z' fill='#7e96bb' stroke='#7e96bb' stroke-width='1.51'/><path d='M280 386l-34 102 124 17z' fill='#b3c5e0' stroke='#b3c5e0' stroke-width='1.51'/><path d='M280 386l90 119 12-121z' fill='#b6c5e0' stroke='#b6c5e0' stroke-width='1.51'/><path d='M351 299l-71 87 102-2z' fill='#bfc9e2' stroke='#bfc9e2' stroke-width='1.51'/><path d='M237-16l23 127 80-3z' fill='#dfdcec' stroke='#dfdcec' stroke-width='1.51'/><path d='M246 605l93 86 4-112z' fill='#9cbad9' stroke='#9cbad9' stroke-width='1.51'/><path d='M280 1080l3 117 65-4z' fill='#798cab' stroke='#798cab' stroke-width='1.51'/><path d='M256 181l16 95 90-97z' fill='#d2d3e8' stroke='#d2d3e8' stroke-width='1.51'/><path d='M364 811l-100 69 101-13z' fill='#87a5ce' stroke='#87a5ce' stroke-width='1.51'/><path d='M342-104l-75 7 99 71z' fill='#e6e2f0' stroke='#e6e2f0' stroke-width='1.51'/><path d='M264 880l-18 123 121-34z' fill='#849ec7' stroke='#849ec7' stroke-width='1.51'/><path d='M280 1080l68 113 19-92z' fill='#798eb0' stroke='#798eb0' stroke-width='1.51'/><path d='M246 488l97 91 27-74z' fill='#a9c0dd' stroke='#a9c0dd' stroke-width='1.51'/><path d='M267-97l-30 81 129-10z' fill='#e6e2f0' stroke='#e6e2f0' stroke-width='1.51'/><path d='M340 108l-84 73 106-2z' fill='#d5d5e8' stroke='#d5d5e8' stroke-width='1.51'/><path d='M251 784l13 96 100-69z' fill='#8ba9d0' stroke='#8ba9d0' stroke-width='1.51'/><path d='M246 605l31 99 62-13z' fill='#99b7d7' stroke='#99b7d7' stroke-width='1.51'/><path d='M260 111l-4 70 84-73z' fill='#dad8ea' stroke='#dad8ea' stroke-width='1.51'/><path d='M246 488v117l97-26z' fill='#a7bfdc' stroke='#a7bfdc' stroke-width='1.51'/><path d='M272 276l8 110 71-87z' fill='#c5cce4' stroke='#c5cce4' stroke-width='1.51'/><path d='M237-16l-98 101 121 26z' fill='#e3dfee' stroke='#e3dfee' stroke-width='1.51'/><path d='M142 971l104 32 18-123z' fill='#88a1c8' stroke='#88a1c8' stroke-width='1.51'/><path d='M140 901l2 70 122-91z' fill='#8ba4cc' stroke='#8ba4cc' stroke-width='1.51'/><path d='M246 605l-82 65 113 34z' fill='#9cbad9' stroke='#9cbad9' stroke-width='1.51'/><path d='M171 369l75 119 34-102z' fill='#bdcae2' stroke='#bdcae2' stroke-width='1.51'/><path d='M272 276l-100 31 108 79z' fill='#c7cfe5' stroke='#c7cfe5' stroke-width='1.51'/><path d='M172 307l-1 62 109 17z' fill='#c5cee5' stroke='#c5cee5' stroke-width='1.51'/><path d='M143 1087l25 112 112-119z' fill='#8094b3' stroke='#8094b3' stroke-width='1.51'/><path d='M280 1080l-112 119 115-2z' fill='#7b8eac' stroke='#7b8eac' stroke-width='1.51'/><path d='M246 488l-81 103 81 14z' fill='#aac2dd' stroke='#aac2dd' stroke-width='1.51'/><path d='M256 181l-84 126 100-31z' fill='#d0d3e7' stroke='#d0d3e7' stroke-width='1.51'/><path d='M164 670l87 114 26-80z' fill='#95b5d6' stroke='#95b5d6' stroke-width='1.51'/><path d='M246 1003l-103 84 137-7z' fill='#8399bd' stroke='#8399bd' stroke-width='1.51'/><path d='M137 193l35 114 84-126z' fill='#d5d6e9' stroke='#d5d6e9' stroke-width='1.51'/><path d='M175-21l-36 106 98-101z' fill='#e8e3f0' stroke='#e8e3f0' stroke-width='1.51'/><path d='M251 784l-108 10 121 86z' fill='#8facd2' stroke='#8facd2' stroke-width='1.51'/><path d='M175-21l62 5 30-81z' fill='#e8e4f1' stroke='#e8e4f1' stroke-width='1.51'/><path d='M143 794l-3 107 124-21z' fill='#8fa9d1' stroke='#8fa9d1' stroke-width='1.51'/><path d='M138-109l37 88 92-76z' fill='#ece7f2' stroke='#ece7f2' stroke-width='1.51'/><path d='M171 369l-32 122 107-3z' fill='#bac9e2' stroke='#bac9e2' stroke-width='1.51'/><path d='M164 670l-21 124 108-10z' fill='#95b4d6' stroke='#95b4d6' stroke-width='1.51'/><path d='M137 193l119-12 4-70z' fill='#dad9ea' stroke='#dad9ea' stroke-width='1.51'/><path d='M139 85l-2 108 123-82z' fill='#dfddec' stroke='#dfddec' stroke-width='1.51'/><path d='M139 491l26 100 81-103z' fill='#b1c5df' stroke='#b1c5df' stroke-width='1.51'/><path d='M165 591l-1 79 82-65z' fill='#a3bedb' stroke='#a3bedb' stroke-width='1.51'/><path d='M-43 1176l-102 24 226-1z' fill='#8493ac' stroke='#8493ac' stroke-width='1.51'/><path d='M142 971l1 116 103-84z' fill='#879ec2' stroke='#879ec2' stroke-width='1.51'/><path d='M-24-125l61 37 101-21z' fill='#f4eef5' stroke='#f4eef5' stroke-width='1.51'/><path d='M142 971l-71 26 72 90z' fill='#8aa0c3' stroke='#8aa0c3' stroke-width='1.51'/><path d='M45 697l98 97 21-124z' fill='#9ab9d9' stroke='#9ab9d9' stroke-width='1.51'/><path d='M66 602l98 68 1-79z' fill='#a6c0dd' stroke='#a6c0dd' stroke-width='1.51'/><path d='M139 491l-73 111 99-11z' fill='#aec5df' stroke='#aec5df' stroke-width='1.51'/><path d='M143 1087l-62 112h87z' fill='#8191ae' stroke='#8191ae' stroke-width='1.51'/><path d='M49 380l90 111 32-122z' fill='#c2cee5' stroke='#c2cee5' stroke-width='1.51'/><path d='M83 295l88 74 1-62z' fill='#ccd3e7' stroke='#ccd3e7' stroke-width='1.51'/><path d='M137 193l-54 102 89 12z' fill='#d4d6e9' stroke='#d4d6e9' stroke-width='1.51'/><path d='M80-26l59 111 36-106z' fill='#ebe5f2' stroke='#ebe5f2' stroke-width='1.51'/><path d='M138-109l-58 83 95 5z' fill='#eee8f3' stroke='#eee8f3' stroke-width='1.51'/><path d='M65 882l75 19 3-107z' fill='#92acd2' stroke='#92acd2' stroke-width='1.51'/><path d='M83 295l-34 85 122-11z' fill='#cbd3e7' stroke='#cbd3e7' stroke-width='1.51'/><path d='M80-26l-13 103 72 8z' fill='#e9e5f1' stroke='#e9e5f1' stroke-width='1.51'/><path d='M49 380l-6 99 96 12z' fill='#bfcde4' stroke='#bfcde4' stroke-width='1.51'/><path d='M50 184l87 9 2-108z' fill='#e0dded' stroke='#e0dded' stroke-width='1.51'/><path d='M66 602l-21 95 119-27z' fill='#a3bfdc' stroke='#a3bfdc' stroke-width='1.51'/><path d='M50 184l33 111 54-102z' fill='#dadaeb' stroke='#dadaeb' stroke-width='1.51'/><path d='M37-88l43 62 58-83z' fill='#f1ebf4' stroke='#f1ebf4' stroke-width='1.51'/><path d='M67 77l-17 107 89-99z' fill='#e4e1ef' stroke='#e4e1ef' stroke-width='1.51'/><path d='M43 479l23 123 73-111z' fill='#b5c9e1' stroke='#b5c9e1' stroke-width='1.51'/><path d='M140 901l-75-19 77 89z' fill='#8ea7cd' stroke='#8ea7cd' stroke-width='1.51'/><path d='M65 882l6 115 71-26z' fill='#8ea5cb' stroke='#8ea5cb' stroke-width='1.51'/><path d='M48 1084l33 115 62-112z' fill='#8597b5' stroke='#8597b5' stroke-width='1.51'/><path d='M71 997l-23 87 95 3z' fill='#8a9ec0' stroke='#8a9ec0' stroke-width='1.51'/><path d='M38 784l27 98 78-88z' fill='#96b1d4' stroke='#96b1d4' stroke-width='1.51'/><path d='M45 697l-7 87 105 10z' fill='#99b7d8' stroke='#99b7d8' stroke-width='1.51'/><path d='M43 479l-66 124 89-1z' fill='#b2c8e1' stroke='#b2c8e1' stroke-width='1.51'/><path d='M-24 105l74 79 17-107z' fill='#e5e2f0' stroke='#e5e2f0' stroke-width='1.51'/><path d='M65 882l-126 29 132 86z' fill='#92a8ce' stroke='#92a8ce' stroke-width='1.51'/><path d='M-61 911l4 93 128-7z' fill='#91a7cb' stroke='#91a7cb' stroke-width='1.51'/><path d='M-18-22l85 99 13-103z' fill='#eee8f3' stroke='#eee8f3' stroke-width='1.51'/><path d='M48 1084l-91 92 124 23z' fill='#8596b1' stroke='#8596b1' stroke-width='1.51'/><path d='M-58 311l107 69 34-85z' fill='#d0d6e9' stroke='#d0d6e9' stroke-width='1.51'/><path d='M50 184l-74 3 107 108z' fill='#dcdbec' stroke='#dcdbec' stroke-width='1.51'/><path d='M-24 187l-34 124 141-16z' fill='#d8daeb' stroke='#d8daeb' stroke-width='1.51'/><path d='M-23 603l68 94 21-95z' fill='#a8c2de' stroke='#a8c2de' stroke-width='1.51'/><path d='M37-88l-55 66 98-4z' fill='#f2ecf4' stroke='#f2ecf4' stroke-width='1.51'/><path d='M38 784l-99 127 126-29z' fill='#96afd4' stroke='#96afd4' stroke-width='1.51'/><path d='M-18-22l-6 127 91-28z' fill='#ece7f2' stroke='#ece7f2' stroke-width='1.51'/><path d='M-57 1004l105 80 23-87z' fill='#8da2c3' stroke='#8da2c3' stroke-width='1.51'/><path d='M-59 495l36 108 66-124z' fill='#b8cce3' stroke='#b8cce3' stroke-width='1.51'/><path d='M-23 603l-11 84 79 10z' fill='#a6c1dd' stroke='#a6c1dd' stroke-width='1.51'/><path d='M-48 390l91 89 6-99z' fill='#c5d1e6' stroke='#c5d1e6' stroke-width='1.51'/><path d='M-24 105v82l74-3z' fill='#e3e0ee' stroke='#e3e0ee' stroke-width='1.51'/><path d='M-49 770l-12 141 99-127z' fill='#99b3d6' stroke='#99b3d6' stroke-width='1.51'/><path d='M-48 390l-11 105 102-16z' fill='#c2d0e6' stroke='#c2d0e6' stroke-width='1.51'/><path d='M-49 770l87 14 7-87z' fill='#9cb9d9' stroke='#9cb9d9' stroke-width='1.51'/><path d='M-34 687l-15 83 94-73z' fill='#9fbddb' stroke='#9fbddb' stroke-width='1.51'/><path d='M-58 1093l15 83 91-92z' fill='#899ab8' stroke='#899ab8' stroke-width='1.51'/><path d='M-57 1004l-1 89 106-9z' fill='#8da1c1' stroke='#8da1c1' stroke-width='1.51'/><path d='M-58 311l10 79 97-10z' fill='#ced5e8' stroke='#ced5e8' stroke-width='1.51'/><path d='M-24-125l6 103 55-66z' fill='#f4eef6' stroke='#f4eef6' stroke-width='1.51'/><path d='M-138 800l20 105 57 6z' fill='#99b0d5' stroke='#99b0d5' stroke-width='1.51'/><path d='M-138 800l77 111 12-141z' fill='#9bb4d7' stroke='#9bb4d7' stroke-width='1.51'/><path d='M-140-125l20 95 96-95z' fill='#f9f1f8' stroke='#f9f1f8' stroke-width='1.51'/><path d='M-147 210l89 101 34-124z' fill='#dedeed' stroke='#dedeed' stroke-width='1.51'/><path d='M-135 88l-12 122 123-23z' fill='#e7e3f0' stroke='#e7e3f0' stroke-width='1.51'/><path d='M-135 88l111 99v-82z' fill='#e8e4f0' stroke='#e8e4f0' stroke-width='1.51'/><path d='M-128 599l94 88 11-84z' fill='#acc5df' stroke='#acc5df' stroke-width='1.51'/><path d='M-59 495l-69 104 105 4z' fill='#b5cae2' stroke='#b5cae2' stroke-width='1.51'/><path d='M-24-125l-96 95 102 8z' fill='#f5eef6' stroke='#f5eef6' stroke-width='1.51'/><path d='M-135 88l111 17 6-127z' fill='#ede9f3' stroke='#ede9f3' stroke-width='1.51'/><path d='M-120-30l-15 118 117-110z' fill='#f2ecf5' stroke='#f2ecf5' stroke-width='1.51'/><path d='M-128 599l-22 72 116 16z' fill='#abc5df' stroke='#abc5df' stroke-width='1.51'/><path d='M-147 210l-4 79 93 22z' fill='#dcdded' stroke='#dcdded' stroke-width='1.51'/><path d='M-61 911l-77 76 81 17z' fill='#93a9cc' stroke='#93a9cc' stroke-width='1.51'/><path d='M-142 482l83 13 11-105z' fill='#c4d2e7' stroke='#c4d2e7' stroke-width='1.51'/><path d='M-58 1093l-71 10 86 73z' fill='#8a9bb8' stroke='#8a9bb8' stroke-width='1.51'/><path d='M-150 671l101 99 15-83z' fill='#a3c0dc' stroke='#a3c0dc' stroke-width='1.51'/><path d='M-118 905l-20 82 77-76z' fill='#95abcf' stroke='#95abcf' stroke-width='1.51'/><path d='M-129 1103l71-10 1-89z' fill='#8fa2c1' stroke='#8fa2c1' stroke-width='1.51'/><path d='M-150 671l12 129 89-30z' fill='#a1bddb' stroke='#a1bddb' stroke-width='1.51'/><path d='M-155 367l13 115 94-92z' fill='#cad5e9' stroke='#cad5e9' stroke-width='1.51'/><path d='M-58 311l-97 56 107 23z' fill='#d0d7ea' stroke='#d0d7ea' stroke-width='1.51'/><path d='M-129 1103l-16 97 102-24z' fill='#8998b2' stroke='#8998b2' stroke-width='1.51'/><path d='M-142 482l14 117 69-104z' fill='#bccee4' stroke='#bccee4' stroke-width='1.51'/><path d='M-138 987l9 116 72-99z' fill='#92a5c5' stroke='#92a5c5' stroke-width='1.51'/><path d='M-151 289l-4 78 97-56z' fill='#d5daeb' stroke='#d5daeb' stroke-width='1.51'/><path d='M-138 800v187l20-82z' fill='#98afd4' stroke='#98afd4' stroke-width='1.51'/><path d='M-140-125l5 213 15-118z' fill='#f5eff7' stroke='#f5eff7' stroke-width='1.51'/><path d='M-142 482l-8 189 22-72z' fill='#b5cbe2' stroke='#b5cbe2' stroke-width='1.51'/><path d='M-138 987l-7 213 16-97z' fill='#8fa0bd' stroke='#8fa0bd' stroke-width='1.51'/><path d='M-140-125l-7 335 12-122z' fill='#f0ebf4' stroke='#f0ebf4' stroke-width='1.51'/><path d='M-150 671l5 529 7-213z' fill='#96abce' stroke='#96abce' stroke-width='1.51'/><path d='M-150 671l12 316v-187z' fill='#9db7d8' stroke='#9db7d8' stroke-width='1.51'/><path d='M-155 367l4-78 11-414z' fill='#e7e4f0' stroke='#e7e4f0' stroke-width='1.51'/><path d='M-151 289l4-79 7-335z' fill='#ebe7f2' stroke='#ebe7f2' stroke-width='1.51'/><path d='M-155 367l5 304 8-189z' fill='#bfd0e5' stroke='#bfd0e5' stroke-width='1.51'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
}
.categoryLanding__div {
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 300px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: inset 0 0 15em 5em rgba(0,0,0,0.5);
}
.categoryLanding__div a:hover {
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .categoryLanding__div {
    min-width: 120px;
    min-height: 120px;
  }
}
.categoryLanding__text {
  color: #fff;
  font-size: 3em;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .categoryLanding__text {
    font-size: 1.2em;
  }
}
.ghost-btn {
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  padding: 20px;
  border: 3px solid #fff;
  margin: 20px auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 768px) {
  .ghost-btn {
    font-size: 1.2em;
    padding: 10px;
    width: 100px;
    border: 2px solid #fff;
    margin-top: 5px;
  }
}
hr {
  border: 1px solid rgba(0,0,0,0.2);
  margin: 30px 20px;
}
.adContainer1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50% !important;
  border-radius: 3px;
}
@media only screen and (min-width: 1921px) {
  .adContainer1 {
    height: 498px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .adContainer1 {
    height: 498px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .adContainer1 {
    height: 498px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .adContainer1 {
    height: 326px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adContainer1 {
    height: 160px;
  }
}
@media only screen and (max-width: 480px) {
  .adContainer1 {
    height: 143px;
  }
}
.adContainer2,
.adContainer3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 3px;
  background-size: cover;
}
@media only screen and (min-width: 1921px) {
  .adContainer2,
  .adContainer3 {
    height: 233px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .adContainer2,
  .adContainer3 {
    height: 233px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .adContainer2,
  .adContainer3 {
    height: 233px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .adContainer2,
  .adContainer3 {
    height: 138px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adContainer2,
  .adContainer3 {
    height: 80px;
  }
}
@media only screen and (max-width: 480px) {
  .adContainer2,
  .adContainer3 {
    height: 80px;
    margin-top: 1px;
  }
}
@media only screen and (min-width: 1921px) {
  .adContainer3 {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .adContainer3 {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .adContainer3 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .adContainer3 {
    margin-top: 1px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adContainer3 {
    margin-top: 1px;
  }
}
.adContainer1__copy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 15em 5em rgba(0,0,0,0.5);
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.adContainer1__copy h2 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 10px;
  background: rgba(0,0,0,0.5);
}
@media only screen and (min-width: 1921px) {
  .adContainer1__copy h2 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .adContainer1__copy h2 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .adContainer1__copy h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .adContainer1__copy h2 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adContainer1__copy h2 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  .adContainer1__copy h2 {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}
.adContainer2__copy,
.adContainer3__copy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 15em 5em rgba(0,0,0,0.5);
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.adContainer2__copy h3,
.adContainer3__copy h3 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-weight: 300;
  line-height: 1.2em;
}
.adContainer2__copy h3 strong,
.adContainer3__copy h3 strong {
  text-transform: uppercase;
}
.adContainer2__copy .btn,
.adContainer3__copy .btn {
  margin: 10px auto -30px auto;
}
.sideAd {
  padding-right: 0;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .sideAd {
    padding-right: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .sideAd {
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .sideAd {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .sideAd {
    padding: 0;
  }
}
.mainAd {
  padding: 0;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .mainAd {
    padding-left: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .mainAd {
    padding-left: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mainAd {
    padding: 15px;
  }
}
.mainAd a:hover {
  text-decoration: none;
  color: #fff;
}
.productDetails {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #d9d9d9;
}
.productDetails h2,
.productDetails h4 {
  padding: 0 20px;
  margin: 0 0 20px 0;
}
.productDetails .volume {
  text-align: right;
  font-weight: bold;
  padding-right: 30px;
}
.productDetails .perBox {
  font-weight: bold;
  padding-left: 30px;
}
.productMeta {
  padding: 20px;
}
.infoBox,
.productName,
.pricing,
.description {
  border-bottom: 1px solid #d9d9d9;
  padding: 0.3em 0.3em 1em 0.3em;
  margin-bottom: 20px;
}
.productName {
  font-size: 3em;
}
.pricing {
  font-size: 2em;
}
.description {
  color: #404040;
}
.ordering {
  font-weight: bold;
}
.quantity {
  padding: 0.3em;
  font-size: 1.2em;
}
.productImageDiv {
  height: 500px;
  width: 500px;
  border: 1px solid #000;
}
.productImage {
  display: block;
  margin: auto;
}
.retailPrice {
  text-decoration: line-through;
  color: #e84327;
  font-weight: 200;
  font-size: 16px;
}
.currentPrice {
  font-size: 18px;
}
.section-product--recommendedProducts {
  background-color: #f7f7f7;
  margin: 0 0 20px 0;
}
.section-product--recommendedProducts h3 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 24px;
}
.section-product--recommendedProducts .img-responsive.text-center {
  margin: 0 auto;
}
.productMeta-img,
.productMeta-thumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productMeta-img img {
  margin: 20px;
  height: 200px;
  width: auto;
}
.productMeta-thumbs img {
  margin: 10px;
}
.section-product--items {
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.section-product--items .img-responsive {
  margin: 20px auto;
}
.section-product--items .catalogProductName {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}
.section-product--description {
  margin-bottom: 20px;
}
.section-product--video {
  margin-top: 20px;
  margin-bottom: 20px;
}
.suppplement-facts {
  margin-top: 20px;
  display: block;
}
.section-product--carousel {
  margin: 0 auto 1.5rem;
}
.section-product--carousel .slideContainer > div:first-child {
  height: 500px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .section-product--carousel .slideContainer > div:first-child {
    height: 400px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .section-product--carousel .slideContainer > div:first-child {
    height: 350px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .section-product--carousel .slideContainer > div:first-child {
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .section-product--carousel .slideContainer > div:first-child {
    height: 250px;
  }
}
.section-product--carousel .slideContainer .slideBackgroundBlur {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  opacity: 0.3;
}
.section-product--carousel .slideContainer .slideImage {
  height: 100%;
}
.section-product--carousel .slideContainer.active:not(.left-add > div:first-child,
.section-product--carousel .slideContainer right-add) > div:first-child {
  position: relative;
  right: 50%;
}
.section-product--carousel .slideContainer.active:not(.left-add .slideBackgroundBlur,
.section-product--carousel .slideContainer right-add) .slideBackgroundBlur,
.section-product--carousel .slideContainer.active:not(.left-add .slideImage,
.section-product--carousel .slideContainer right-add) .slideImage {
  margin-right: -100%;
}
.enrollmentProgress {
  border-bottom: 1px solid #666;
  padding-bottom: 2rem;
  position: relative;
}
.enrollmentProgress .progress-wrapper {
  padding-right: 2.1rem;
  padding-top: 1.5rem;
  opacity: 0.5;
}
.enrollmentProgress .progress-wrapper.active-step {
  opacity: 1;
}
.enrollmentProgress .progress {
  height: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background: #666;
}
.enrollmentProgress .progress-bar {
  height: 10px;
}
.enrollmentProgress .progress-bar .progress-check-icon {
  position: absolute;
  right: 0;
  top: 0.5rem;
}
.enrollmentProgress .form-visibility-trigger {
  position: absolute;
  right: 2rem;
  bottom: -1.5rem;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #5cb85c;
  z-index: 1;
}
.enrollmentProgress .form-visibility-trigger i {
  color: #fff;
}
.enrollmentProgress .fa.fa-check {
  font-size: 64px;
  color: #43ac6a;
  position: absolute;
  right: -13px;
  top: 1px;
}
.collectionContainer.ng-move,
.collectionContainer.ng-enter,
.collectionContainer.ng-leave {
  -webkit-transition: all ease-out 0.2s;
          transition: all ease-out 0.2s;
}
.collectionContainer.ng-leave.ng-leave-active,
.collectionContainer.ng-move,
.collectionContainer.ng-enter {
  opacity: 0;
}
.collectionContainer.ng-leave,
.collectionContainer.ng-move.ng-move-active,
.collectionContainer.ng-enter.ng-enter-active {
  opacity: 1;
}
.collect-info {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 50%;
}
.collectInfoForm .help-block {
  margin: 0;
}
.collectInfoForm .form-group {
  min-height: 73px;
  font-size: 12px;
}
.modal.modal-createAccount {
  bottom: auto;
  padding-top: 5rem;
}
.modal.modal-createAccount .modal-header {
  padding: 1rem 2rem;
  background: #404040;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0;
}
.modal.modal-createAccount .modal-header .close {
  opacity: 1;
  color: #fff;
  font-size: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.modal.modal-createAccount .modal-header .modal-title {
  font-size: 1.3rem;
}
.modal.modal-createAccount .modal-dialog {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.modal.modal-createAccount .modal-body {
  padding: 2rem 3rem 1rem;
  background: #f7f7f7;
}
.modal.modal-createAccount .modal-body .form-group {
  margin-bottom: 6px;
}
.modal.modal-createAccount .modal-body .input-group.optionInputWrapper {
  position: relative;
}
.modal.modal-createAccount .modal-body .input-group.optionInputWrapper:after {
  z-index: 10;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  line-height: 30px;
  padding: 6px 12px 6px 6px;
  color: #b3b3b3;
  pointer-events: none;
}
.modal.modal-createAccount .modal-body .form-control {
  height: 40px;
}
.modal.modal-createAccount .modal-body .form-control.optionInput {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.modal.modal-createAccount .modal-body .form-control:not(:nth-child(1)) {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.modal.modal-createAccount .modal-body .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(120,120,120,0.075), 0 0 6px rgba(120,120,120,0.6);
  border-color: #ccc;
}
.modal.modal-createAccount .modal-body .form-control input {
  border-left: none;
}
.modal.modal-createAccount .modal-body .help-block {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 5px;
  clear: both;
}
.modal.modal-createAccount .modal-body .input-group-addon {
  background-color: #fff;
  padding: 6px 8px 6px;
}
.modal.modal-createAccount .modal-body .form-divider {
  border-bottom: #b3b3b3 solid 3px;
  margin: 0 0 2.5rem;
  position: relative;
}
.modal.modal-createAccount .modal-body .form-divider .divider-text {
  position: absolute;
  left: 46%;
  bottom: -1.2rem;
  background: #fff;
  padding: 0.5rem 1rem;
  color: #666;
}
.modal.modal-createAccount .modal-footer {
  padding: 1rem 2rem;
  border-top: none;
}
.modal.modal-createAccount .modal-footer .btn-signup {
  border-radius: 3px;
  border: none;
  font-weight: bold;
}
.modal.modal-welcome {
  bottom: auto;
  padding-top: 3rem;
}
.modal.modal-welcome .modal-header {
  background: #067ebd;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  margin-bottom: 1rem;
}
.modal.modal-welcome .modal-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.payment-general-error {
  border: 1px solid #8b0000;
  margin: 5px 0px;
  padding: 5px;
}
