
/*
	Copyright (C) 2011-2017 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	326555-120782-20170825
*/

@font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/FD78C921547447308.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/FD78C921547447308.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham 2r"; src: url('http://media.usana.com/styleguide/fonts/600211/FD78C921547447308.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/FD78C921547447308.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/BB5DD193D8891DBCE.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/BB5DD193D8891DBCE.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham 4r"; src: url('http://media.usana.com/styleguide/fonts/600211/BB5DD193D8891DBCE.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/BB5DD193D8891DBCE.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/6C08D909EA4775684.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/6C08D909EA4775684.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham 4i"; src: url('http://media.usana.com/styleguide/fonts/600211/6C08D909EA4775684.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/6C08D909EA4775684.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/DD81D1665C019328A.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/DD81D1665C019328A.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham 7r"; src: url('http://media.usana.com/styleguide/fonts/600211/DD81D1665C019328A.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/DD81D1665C019328A.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/5A4634F17A918E953.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/5A4634F17A918E953.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham 7i"; src: url('http://media.usana.com/styleguide/fonts/600211/5A4634F17A918E953.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/5A4634F17A918E953.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('http://media.usana.com/styleguide/fonts/600211/4FE28E2C2CFFE5680.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/4FE28E2C2CFFE5680.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham 8r"; src: url('http://media.usana.com/styleguide/fonts/600211/4FE28E2C2CFFE5680.eot'); src: url('http://media.usana.com/styleguide/fonts/600211/4FE28E2C2CFFE5680.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } 