<div class="row">
	<h4>Primary Blue ($usanaBlue)</h4>
	
    <div class="sg-color usanaBlueLight col-md-4 sg-lg">#31b4f8 $usanaBlueLight</span></span></div>
    <div class="sg-color usanaBlue col-md-4 sg-lg">#067EBD $usanaBlue</span></span></div>
    <div class="sg-color usanaBlueDark col-md-4 sg-lg">#033c5a $usanaBlueDark</span></span></div>
</div>
<div class="row">
	<h4>Silver Blue ($usanaSilverBlue)</h4>
	<div class="sg-color usanaSilverBlueLight col-md-4 sg-lg">#31b4f8 $usanaSilverBlueLight</span></span></div>
    <div class="sg-color usanaSilverBlue col-md-4 sg-lg">#067EBD $usanaSilverBlue</span></span></div>
    <div class="sg-color usanaSilverBlueDark col-md-4 sg-lg">#033c5a $usanaSilverBlueDark</span></span></div>
</div>
	
<div class="row">
	<h4>Primary Red ($usanaRed)</h4>
	<div class="sg-color usanaRedLight col-md-4 sg-lg">#4dd3c9 $usanaRedLight</span></span></div>
    <div class="sg-color usanaRed col-md-4 sg-lg">#57DAE6 $usanaRed</span></span></div>
    <div class="sg-color usanaRedDark col-md-4 sg-lg">#339db0 $usanaRedDark</span></span></div>
</div>
    
<div class="row">
	<h4>Primary Orange ($usanaOrange)</h4>
    <div class="sg-color usanaOrangeLight col-md-4 sg-lg">#fac368 $usanaOrangeLight</span></span></div>
    <div class="sg-color usanaOrange col-md-4 sg-lg">#f8b037 $usanaOrange</span></span></div>
    <div class="sg-color usanaOrangeDark col-md-4 sg-lg">#f7a61e $usanaOrangeDark</span></span></div>
</div>

<div class="row">
	<h4>Primary Green ($usanaGreen)</h4>
    <div class="sg-color usanaGreenLight col-md-4 sg-lg">#61c185 $usanaGreenLight</span></span></div>
    <div class="sg-color usanaGreen col-md-4 sg-lg">#43ac6a $usanaGreen</span></span></div>
    <div class="sg-color usanaGreenDark col-md-4 sg-lg">#3c9a5f $usanaGreenDark</span></span></div>
</div>

<div class="row">
	<h4>Complimentary Purple ($usanaPurple)</h4>
    <div class="sg-color usanaPurpleLight col-md-4 sg-lg">#61c185 $usanaPurpleLight</span></span></div>
    <div class="sg-color usanaPurple col-md-4 sg-lg">#B11180 $usanaPurple</span></span></div>
    <div class="sg-color usanaPurpleDark col-md-4 sg-lg">#8c0d65 $usanaPurpleDark</span></span></div>
</div>  
