
  <h3 class="sg-h2">Font Stacks</h3>
  <div class="well">
	  &#x3C;link href=&#x22;https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Lato:400,700,300italic,400italic,900&#x26;amp;subset=latin-ext&#x22; rel=&#x22;stylesheet&#x22; type=&#x22;text/css&#x22;&#x3E;
  </div>
  <p class="sg-font sg-font-primary">font-family: 'Lato', sans-serif;</p>
  <p class="weight300">300: Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  <p class="weight300"><em>300 italic: Grumpy wizards make toxic brew for the evil Queen and Jack.</em></p>
  <p class="weight400">400: Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  <p class="weight400"><em>400 italic: Grumpy wizards make toxic brew for the evil Queen and Jack.</em></p>
  <p class="weight700">700: Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  <p class="weight900">900: Grumpy wizards make toxic brew for the evil Queen and Jack.</p>

  <h1 class="weight900 sg-font">English / Central European Typeset</h1>
  <h2 class="text-danger"><span class=" weight900 sg-font">Gotham</span> <span class="weight300 sg-font">gotham</span></h2>
  <h4 class="weight400 sg-font">0 1 2 3 4 5 6 7 8 9 a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z & à á â ã ä å æ ā ă ą ç ć ĉ ċ č ð ď đ è é ê ë ē ĕ ė ę ě ĝ ğ ġ ģ ĥ ħ ì í î ï ĩ ī į i ĳ ĵ ķ ĺ ļ ľ ŀ ł ñ ń ņ ň ŉ ø ò ó ô õ ö ō ŏ ő œ ŕ ŗ ř ś ŝ ş š ș ţ ť ŧ ù ú û ü ũ ū ŭ ů ű ų ŵ Ý ý ŷ ÿ ź ż ž ß þ À Á Â Ã Ä Å Æ Ā Ă Ą Ç Ć Ĉ Ċ Č Ð Ď Đ È É Ê Ë Ē Ĕ Ė Ę Ě Ĝ Ğ Ġ Ģ Ĥ Ħ Ì Í Î Ï Ĩ Ī Į İ Ĳ Ĵ Ķ Ĺ Ļ Ľ Ŀ Ł Ñ Ń Ņ Ň Ò Ó Ô Õ Ö Ø Ō Ŏ Ő Œ Ŕ Ŗ Ř Ś Ŝ Ş Š Ș Ţ Ť Ŧ Ù Ú Û Ü Ũ Ū Ŭ Ů Ű Ų Ŵ Ŷ Ÿ Ź Ż Ž Þ @ ‘ “ # ( ) * ÷ × + , - . / : ; < = > ¡ ! ¿ ? [ \ ] { | } ~ ^ _ € $ ¢ ƒ £ ¤ ¥ ¦ § © ª ¬ ® ¯ ° ± ¹ ² ³ µ ¶ · º ¼ ½ ¾ Δ Ω μ π – — ‘ ’ ‚ “ ” „ ‹ › « » † ‡ • … % ‰ ⁄ ℓ ™ ℮ ∂ ∏ ∑ − ∕ · √ ∞ ∫ ≈ ≠ ≤ ≥ ◊ f</h4>
  
  
  <h1 class="weight900 sg-font">Asia Pacific Typeset</h1>
	<h2 class="sg-font sg-font-international text-danger"><span class="weight900">NOTO SANS</span> <span class="weight300">noto sans</span></h2>
	<h4 class="sg-font-international">色茅匂寒蒲散敢噛柑澗我楽世誰褐常釜換潅有為栢奥山今日越隔株浅額夢見恰酔刈寛渇活.</h4>
	<h4 class="sg-font-international">色茅匂寒蒲散敢噛柑澗我楽世誰褐常釜換潅有為栢奥山今日越隔株浅額夢見恰酔刈寛渇活. 90% Width.</h4>
	<h4 class="sg-font-international">0123456789 悔恢 懐戒！？ 開 桔餓 駕 ｟〒｠ 壊 □廻 衛</h4>
  
  <br />
  <br />
  <br />
  <p class="sg-font sg-font-international">font-family: 'Noto Sans', sans-serif;</p>
  <p class="sg-font-international weight300">気難しいウィザードは、悪の女王とジャックのための有毒な醸造を行います。</p>
  <p class="sg-font-international weight700">気難しいウィザードは、悪の女王とジャックのための有毒な醸造を行います。</p>
